<div class="container-tile-layout" style="overflow: hidden;">
    <div id="sub-header"></div>
    <section id="dashboard-section" class="content esa-section" style="height:calc(100% - 65px);overflow: auto;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Notifications</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div id="alert-open-timer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs hidden"></div>
                    <div id="alert-message" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs hidden"></div>
                    <div id="alert-value" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    <div id="alert-tips" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Company Stats</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div id="tile-1" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-2" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-3" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-4" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px;">
                        <div class="small-box bg-blue" style="margin-bottom: 0px !important">
                            <a href="#" id="OpenDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <!--<div class="small-box">-->
                    <!--<div id="OpenDetails" class="btn btn-block">More info <i class="fa fa-arrow-circle-right"></i></div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Team and Personal Stats</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="tile-6" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-8" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-13" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-12" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Team Meeting Percentage</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="tile-5" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- ESA Company Message Board -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 p-xs">
                <div id="tile-7"></div>
                <!--class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-xs"-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 p-xs">
                <!--phone directory-->
                <div id="tile-11"></div>

                <!--timer-->
                <!--<div id="tile-10"></div>-->

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tile-10"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--style="height: 100%;"-->
            <div class="row m-none">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">My Clients</h3>
                        <!--Active-->
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="padding-bottom: 10px; !important">
                        <!--style="height: calc(100% + 235px)"-->
                        <!--height:255px-->
                        <div id="tile-9" ></div>
                        <!--style="height: calc(100% + 100px);"-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
