<div class="item">
    <p class="message" style="overflow: hidden;">
        <a class="name">
            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>
                <span id="commentTimeStamp" style="margin: 3px;">2:15</span>
            </small>
            <span id="commentUserName">First Last</span>
        </a>
        <span id="comment" style="white-space: pre-line;">Comment</span>
    </p>
</div>

