<div class="container-tile-layout" style="overflow: hidden;">
    <section class="content" style="overflow: auto;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="row m-none">
        <div id="tile-1" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 "></div>
        <div id="tile-3" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="row m-none">
            <div class="box">
                <div class="box-header with-border">
                    <h3 id="widgetTitle2" class="box-title">Team Meeting Percentage</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="tile-5" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                </div>
            </div>
        </div>
        <!-- ESA Company Message Board -->
        <div class="row m-none">
            <div id="tile-7" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
        </div>
    </div>
    </section>
</div>
