<div class="item">
    <p class="message">
        <a href="#" class="name">
            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>
                <span id="messageTimeStamp" style="margin: 3px;">2:15</span>
            </small>
            <span>Admin</span>
        </a>
        <span id="message">Message text</span>
    </p>
    <div class="attachment">
        <div id="comment-list"></div>
    </div>
</div>

