<div style="height:calc(100%);">
    <div id="loadingMessageWidget"></div>
    <div id="messageWidgetContent" class="box box-default view-message-board-box">
        <div class="box-header view-message-board-box">
            <i class="fa fa-comments-o"></i>
            <h3 class="box-title">Company Message Board</h3>
            <div class="box-tools pull-right">
                <button id="viewMessageBoardButtonCollapse" class="btn btn-box-tool" data-widget="collapse"><i id="viewMessageBoardIconCollapse" class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body chat" id="chat-box" style="height:446px;">
            <div id="message-list" style="width: 100%; height: 100%; position: relative; overflow: auto;">
            </div>
        </div>
        <div class="box-footer">
            <div class="input-group">
                <input id="newCommentText" class="form-control" placeholder="Type message...">
                <div class="input-group-btn">
                    <button id="NewCommentButton" class="btn btn-success"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div><!-- /.box (chat box) -->
</div>