.panel-details {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-details-body {
    padding: 15px;
    position: relative;
    height: calc(100% - 28px) !important;
}
.panel-details > .list-group {
    margin-bottom: 0;
}
.panel-details > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel-details > .list-group .list-group-item:first-child {
    border-top: 0;
}
.panel-details > .list-group .list-group-item:last-child {
    border-bottom: 0;
}
.panel-details > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-details > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-details-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel-details > .table,
.panel-details > .table-responsive > .table {
    margin-bottom: 0;
}
.panel-details > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel-details > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel-details > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel-details > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel-details > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel-details > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel-details > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel-details > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
.panel-details > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel-details > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel-details > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel-details > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel-details > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel-details > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel-details > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel-details > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
.panel-details > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel-details > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel-details > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel-details > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel-details > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel-details > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel-details > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel-details > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.panel-details > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel-details > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel-details > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel-details > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel-details > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel-details > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel-details > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel-details > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}
.panel-details > .panel-details-body + .table,
.panel-details > .panel-details-body + .table-responsive {
    border-top: 1px solid #dddddd;
}
.panel-details > .table > tbody:first-child > tr:first-child th,
.panel-details > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}
.panel-details > .table-bordered,
.panel-details > .table-responsive > .table-bordered {
    border: 0;
}
.panel-details > .table-bordered > thead > tr > th:first-child,
.panel-details > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel-details > .table-bordered > tbody > tr > th:first-child,
.panel-details > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel-details > .table-bordered > tfoot > tr > th:first-child,
.panel-details > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel-details > .table-bordered > thead > tr > td:first-child,
.panel-details > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel-details > .table-bordered > tbody > tr > td:first-child,
.panel-details > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel-details > .table-bordered > tfoot > tr > td:first-child,
.panel-details > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.panel-details > .table-bordered > thead > tr > th:last-child,
.panel-details > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel-details > .table-bordered > tbody > tr > th:last-child,
.panel-details > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel-details > .table-bordered > tfoot > tr > th:last-child,
.panel-details > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel-details > .table-bordered > thead > tr > td:last-child,
.panel-details > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel-details > .table-bordered > tbody > tr > td:last-child,
.panel-details > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel-details > .table-bordered > tfoot > tr > td:last-child,
.panel-details > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.panel-details > .table-bordered > thead > tr:first-child > th,
.panel-details > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel-details > .table-bordered > tbody > tr:first-child > th,
.panel-details > .table-responsive > .table-bordered > tbody > tr:first-child > th,
.panel-details > .table-bordered > tfoot > tr:first-child > th,
.panel-details > .table-responsive > .table-bordered > tfoot > tr:first-child > th,
.panel-details > .table-bordered > thead > tr:first-child > td,
.panel-details > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel-details > .table-bordered > tbody > tr:first-child > td,
.panel-details > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel-details > .table-bordered > tfoot > tr:first-child > td,
.panel-details > .table-responsive > .table-bordered > tfoot > tr:first-child > td {
    border-top: 0;
}
.panel-details > .table-bordered > thead > tr:last-child > th,
.panel-details > .table-responsive > .table-bordered > thead > tr:last-child > th,
.panel-details > .table-bordered > tbody > tr:last-child > th,
.panel-details > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel-details > .table-bordered > tfoot > tr:last-child > th,
.panel-details > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
.panel-details > .table-bordered > thead > tr:last-child > td,
.panel-details > .table-responsive > .table-bordered > thead > tr:last-child > td,
.panel-details > .table-bordered > tbody > tr:last-child > td,
.panel-details > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel-details > .table-bordered > tfoot > tr:last-child > td,
.panel-details > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
}
.panel-details > .table-responsive {
    border: 0;
    margin-bottom: 0;
}
.panel-details-heading {
    padding: 5px 15px 5px 5px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-details-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-details-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    padding-top: 2px;
    white-space: nowrap;
}
.panel-details-title > a {
    color: inherit;
}
.panel-details-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-details-group {
    margin-bottom: 20px;
}
.panel-details-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    overflow: hidden;
}
.panel-details-group .panel + .panel {
    margin-top: 5px;
}
.panel-details-details-group .panel-heading {
    border-bottom: 0;
}
.panel-details-group .panel-details-heading + .panel-details-collapse .panel-details-body {
    border-top: 1px solid #dddddd;
}
.panel-details-group .panel-details-footer {
    border-top: 0;
}
.panel-details-group .panel-details-footer + .panel-details-collapse .panel-details-body {
    border-bottom: 1px solid #dddddd;
}
.panel-details-default {
    border-color: #dddddd;
}
.panel-details-default > .panel-details-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-details-default > .panel-details-heading + .panel-details-collapse .panel-details-body {
    border-top-color: #dddddd;
}
.panel-details-default > .panel-details-footer + .panel-details-collapse .panel-details-body {
    border-bottom-color: #dddddd;
}
.panel-details-primary {
    border-color: #428bca;
}
.panel-details-primary > .panel-details-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}
.panel-details-primary > .panel-details-heading + .panel-details-collapse .panel-details-body {
    border-top-color: #428bca;
}
.panel-details-primary > .panel-details-footer + .panel-details-collapse .panel-details-body {
    border-bottom-color: #428bca;
}
.panel-details-success {
    border-color: #d6e9c6;
}
.panel-details-success > .panel-details-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-details-success > .panel-details-heading + .panel-details-collapse .panel-details-body {
    border-top-color: #d6e9c6;
}
.panel-details-success > .panel-details-footer + .panel-details-collapse .panel-details-body {
    border-bottom-color: #d6e9c6;
}
.panel-details-info {
    border-color: #bce8f1;
}
.panel-details-info > .panel-details-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-details-info > .panel-details-heading + .panel-details-collapse .panel-details-body {
    border-top-color: #bce8f1;
}
.panel-details-info > .panel-details-footer + .panel-details-collapse .panel-details-body {
    border-bottom-color: #bce8f1;
}
.panel-details-warning {
    border-color: #faebcc;
}
.panel-details-warning > .panel-details-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-details-warning > .panel-details-heading + .panel-details-collapse .panel-details-body {
    border-top-color: #faebcc;
}
.panel-details-warning > .panel-details-footer + .panel-details-collapse .panel-details-body {
    border-bottom-color: #faebcc;
}
.panel-details-danger {
    border-color: #ebccd1;
}
.panel-details-danger > .panel-details-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.panel-details-danger > .panel-details-heading + .panel-details-collapse .panel-details-body {
    border-top-color: #ebccd1;
}
.panel-details-danger > .panel-details-footer + .panel-details-collapse .panel-details-body {
    border-bottom-color: #ebccd1;
}