/* ----------------------------------------- v2 ---------------------------------------- */

.iosSliderDemo {
    clear: both;
    width: 100%;
    /* padding: 0 0 30% 0; */
    padding: 0 0 490px;
    margin: 0 0 -40px 0;
    position: relative;
}

.fluidHeight {
    /*position: absolute;*/
    width: 100%;
    height: 270px;
    /*355px;*/
    padding: 20px 0;
    background-color: #ffffff;
}

.sliderContainer {
    height: 100%;
    /*max-height: 400px;*/
    padding: 0 0;
}

.iosSlider {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.iosSlider .slider {
    width: 900px;
    height: 100%;
}

.iosSlider .slider .item {
    width: 900px;
    height: 100%;
    padding: 0 0 0 0;
    text-align: center;
}

.slider-image{
    height: 450px;
    width: 900px;
    min-height: 450px;
    min-width: 900px;
}

.iosSlider .slider .item .item-inner{
    margin-left: 15px !important;
    margin-right: 15px !important;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.iosSlider .slider .item .item-inner img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

.iosSlider .slider .item .item-inner .selectorShadow {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/homeSlider/selector-shadow.png) no-repeat 0 0;
    width: 120px;
    height: 30px;
    display: none;
}

.iosSlider .slider .item .item-inner .text1 {
    background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    left: 120px;
    top: 10px;
    padding: 0 2px 0 7px;
    height: 30px;
    text-align: left;
}

.iosSlider .slider .item .item-inner .text1 span {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    padding: 0 8px;
    white-space: nowrap;
}

.iosSlider .slider .item .item-inner .text1 span i {
    margin: 0 0 0 5px;
}

.iosSlider .slider .item .item-inner .text2 {
    background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 10px 7px 7px;
    position: absolute;
    left: 120px;
    top: 45px;
    padding: 0 2px 0 7px;
    /*height: 30px;*/
    text-align: left;
}

.iosSlider .slider .item .item-inner .text2 span {
    display: block;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    padding: 0 8px;
    white-space: nowrap;
}

.sliderContainer .slideSelectors {
    position: relative;
    bottom: -10px;
    left: 20px;
    width: 210px;
    margin: 0 auto;
    z-index: 1;
    height: 11px;
}

.sliderContainer .slideSelectors .prev {
    float: left;
    /*width: 11px;*/
    /*height: 11px;*/
    /*background: url(../images/homeSlider/slider-buttons.png) no-repeat 50% 0;*/
}

.sliderContainer .slideSelectors .next {
    float: left;
    /*width: 11px;*/
    /*height: 11px;*/
    margin: 0 0 0 10px;
    /*background: url(../images/homeSlider/slider-buttons.png) no-repeat 50% 0;*/
}

.sliderContainer .slideSelectors .item {
    float: left;
    width: 9px;
    height: 9px;
    background: #aaa;
    margin: 1px 1px 1px 11px;
    /* opacity: 0.25; */
    filter: alpha(opacity=25);
    border-radius: 10px;
}

.sliderContainer .slideSelectors .item.first {
    margin-left: 1px;
}

.sliderContainer .slideSelectors .selected {
    width: 11px;
    height: 11px;
    margin: 0 0 0 10px;
    background: #eee;
    opacity: 1;
    filter: alpha(opacity=100);
    box-shadow: none;
}

.sliderContainer .slideSelectors .selected.first {
    margin-left: 0;
}

.sliderContainer .scrollbarContainer {
    position: relative;
    bottom: 4px;
    left: 0;
    width: 1024px;
    height: 4px;
    margin: 0 auto;
    z-index: 1;
}