.col-fixed{
    min-width: 400px !important;
}

#tile{
    border: 1px solid;
    border-color: #000000;
    background-color: red;
    height: 180px;
    width: 400px;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#tile #cpi-gauge-container {
    float: left;
    clear: none;
}

#tile #spi-gauge-container {
    float: left;
    clear: none;
}

.gauge-container {
    background: transparent url("../img/gauge/gauge-container-partial-120.png") no-repeat 50% 50%;
    width: 140px;
    height: 140px;
    text-align: center;
    margin: 0 0 0 0;
}

.gauge-container2 {
    border: 2px #000000 solid;

    -moz-box-shadow: 0px 0px 1px 1px #000000;
    -webkit-box-shadow: 0px 0px 1px 1px #000000;
    box-shadow: 0px 0px 1px 1px #000000;

    width: 80px;
    height: 80px;
    border-radius: 70px;
    text-align: center;
    margin: 0 0 0 0;
}

.gauge {
    width: 80px;
    height: 80px;
    margin-top: -10px;

}

.gauge-label {
    margin-top: -12px;
}