@media (min-width: 768px) {
    .timer-widget-input {
        width:300px
    }
}

.esa-edit-popup {
    /*-webkit-column-count: 1; *//* Chrome, Safari, Opera */
    /*-moz-column-count: 1; *//* Firefox */
    /*column-count: 1;*/
    width: 800px !important;
    /*width: 75%;*/
    /*height: 66%;*/
}

/*modified standard width of kendo k-edit-form-container of 400px to 800 px for edit popup*/
.k-edit-form-container {
    position: relative;
    width: 800px;
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-height: 768px*/
}

.client-profile, .employee-profile, .company-profile {
    cursor: pointer;
    cursor: hand;
}

.file-row {
    border-top: 1px solid #f4f4f4;
    /*padding: 8px;*/
    /*display: table-row;*/
}

.file-group {
    width: 450px;
    padding: 8px;
    /*height: 100px;*/
    /*color: #468847;*/
    /*background-color: #dff0d8;*/
    /*border-color: #d6e9c6;*/
    display: table-cell;
}

.file-group2 {
    width: 75px;
    padding: 8px;
    cursor: pointer;
    cursor: hand;
    /*height: 100px;*/
    /*color: #468847;*/
    /*background-color: #dff0d8;*/
    /*border-color: #d6e9c6;*/
    display: table-cell;
}

.scoreboard-row {
    border-top: 1px solid #f4f4f4;
    /*padding: 8px;*/
    /*display: table-row;*/
}

.scoreboard-group {
    width: 180px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    /*cursor: pointer;*/
    /*cursor: hand;*/
    /*height: 150px;*/
    font-size:16px;
    /*color: #468847;*/
    /*background-color: #dff0d8;*/
    /*border-color: #d6e9c6;*/
    display: table-cell;
}

.scoreboard-group2 {
    width: 400px;
    padding: 8px;
    /*cursor: pointer;*/
    /*cursor: hand;*/
    /*height: 150px;*/
    font-size:16px;
    /*color: #468847;*/
    /*background-color: #dff0d8;*/
    /*border-color: #d6e9c6;*/
    display: table-cell;
}

.field-value-red {
    color: rgba(217, 2, 2, 100) !important;
/ / #D90202 font-weight: bold;
}

.field-value-green {
    color: green;
    /*rgba(0, 128, 0, 0.99) !important;*/
    /*font-weight: bold;*/
}

.field-checkbox {
    padding-right: 8px;
}

.field-value {
    height: 25px;
    width: 100%;
    text-align: left;
    /*font-weight: bold;*/
    padding-left: 10px;
    /*color: red;*/
    /* rgba(217, 2, 2, 1);*/
}

.field-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    min-width: 270px;
}

.field-row-selected {
    background-color: #2a5db2 !important;
}

.field-button-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    min-width: 270px;
    text-align: right;
    padding: 5px;
}

.esa-grid-container {
    /*position: absolute;*/
    /*width: calc(100% - 7px) !important;*/
    min-width: 660px;
}

.summary-review {
    width: 200px !important;
    margin-right: 10px;
}

.intro-review {
    width: 220px !important;
    margin-right: 10px;
}

.summary-export {
    width: 250px !important;
    margin-right: 20px;
}

.introduction-button {
    width: 350px !important;
    margin-right: 20px;
}