.tooltip-table {
    display: table;
    padding-bottom: 2px;
}

.tooltip-row {
    display: table-row;
    /*text-align: center;*/
}

.tooltip-column-header {
    display: table-cell;
    text-align: center;
}

.tooltip-column-label {
    display: table-cell;
    text-align: left;
    padding-left: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
}

.tooltip-column-value {
    display: table-cell;
    text-align: right;
    width: 30px !important;
    padding-right: 3px;
    padding-bottom: 5px;
}

.tooltip-column-value-hover {
    display: table-cell;
    text-align: right;
    font-weight: bold;
    width: 30px !important;
    padding-right: 3px;
    padding-bottom: 5px;
}

.tooltip-column-value-no-hover {
    display: table-cell;
    text-align: right;
    width: 30px !important;
    padding-right: 3px;
    padding-bottom: 5px;
    color: darkgrey;
    font-style: italic;
}

.tooltip-column-caption-label {
    display: table-cell;
    text-align: right;
    padding-right: 2px;
    padding-top: 5px;
}

.tooltip-column-caption-value {
    display: table-cell;
    text-align: left;
    font-weight: bold;
    padding-left: 2px;
    padding-bottom: 5px;

}
/*Circliful*/

.circlifulChart {
    /*width: 300px;*/
    /*height: 300px;*/
    /*display: inline-block;*/
    margin: 1em;
    /*border: solid black 1px;*/
    /*padding-top: 15px;*/

}