/*Style*/
.minimal-container-tile-layout{
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    width: 100%;
    height: 100%;
}

.minimal-tile{
    width: 100%;
    height: 135px;
    position: relative;
    padding: 0;
    margin: 0;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.minimal-tile-content {
    width: 100%;
    height: 100%;
    margin: 0;
    /*background-color: #ffffff;*/
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
