/*.sidebar-menu > li > a {*/
    /*padding: 2px 5px 2px 15px;*/
/*}*/

/*SubHeader menu*/
@media (max-width: 991px) {
	.esa-subheader-container {
		min-height:75px;
	}
}
@media (min-width: 991px) {
	.esa-subheader-container {
		min-height:51px;
	}
}

/*Header menu*/
@media (max-width: 991px) {
	.esa-header-link {
		padding: 15px 20px !important;
		margin-top: -5px !important;
		height:50px;
	}
}
@media (min-width: 991px) {
	.esa-header-link {
		padding: 15px 20px !important;
		margin-top: -5px !important;
		height:50px;
	}
}

.callout {
	padding: 4px 10px;
}

/* @group Company Chat */
.chat .item > .attachment {
	margin-left: 55px;
}

.box-comments .box-comment img.attachment-img {
	width: 100px !important;
	height: inherit !important;
	margin: 5px 10px 10px 0;
}

.company-chat .box-body img {
	margin-bottom: 10px;
}
.company-chat .box-body .box-header {
	padding-bottom: 0px;
}
.company-chat .box-footer {
	border-top: none;
}
.company-chat .box-comments {
	background-color: #fff;
	/*max-height: 650px;*/
	overflow-y: scroll;
}

/* @end */

/* @group Carousel */
.carousel-inner {
	border-radius: 3px;
	overflow: hidden;
	display: block;
	border-collapse: separate; 
	perspective: 1px;
}
.carousel {
	margin-bottom: 20px;
}
.carousel .item {
	background-color: #000;
}
.carousel .item img {
	opacity: 0.5;
}
.carousel-caption {   
    bottom: inherit;
	position: absolute;
	top: 50%;
	left: 20%;
	right: 20%;
	transform: translate(-0%, -50%);
   
}
.carousel-caption h1 {
    font-size: 35px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
}
/* @end */

/* @group Small Ads */
	
.box-esa-ad {
	position: relative;
	border: none;
}
.box-esa-ad2 {
	position: relative;
	border: none;
	border-radius: 3px;
	height: 120px;
    overflow: hidden;
    background-color: #000;
}
.box-esa-ad2 img {
    display: block;
    max-width: 100%;
    height:auto;
	opacity: 0.5;

}
.box-esa-ad2 a img {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.box-esa-ad2 a:hover img {
	opacity: 0.7;
}
.box-esa-ad2 a, .featured-leader-sm a {
	color: #80bce0;
}
.box-esa-ad2 a:hover, .featured-leader-sm a:hover {
	color: #9dd3f4;
	
}
.box-esa-ad .esa-ad-header {
	border-radius: 3px;
	padding: 20px;
	height: 120px;
	
	background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important; 
    background-size: 100% 100%;
}
.box-esa-ad2 .esa-ad-header {
    bottom: inherit;
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
}

.box-esa-ad h2, .box-esa-ad2 h2 {
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-size: 25px;
	margin: 0px 0px 5px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
}
.box-esa-ad h3, .box-esa-ad2 h3 {
	font-size: 14px;
	margin: 0px 0px 5px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
}

.box-esa-ad2.esa-ad-white {
	background-color: #fff;
}
.box-esa-ad2.esa-ad-white img {
	opacity: 0.1;
}
.box-esa-ad2.esa-ad-white .esa-ad-header,
.box-esa-ad2.esa-ad-white h3,
.box-esa-ad2.esa-ad-white h2 {
	color: #000;
	text-shadow:none;
}
/* @end */

/* @group Leader Feature Large */

.featured-leader-sm {
	overflow: hidden;
	padding: 10px 10px 10px;
	border: none !important;
	text-align: left;
	background-color: #222d32;
	color: #fff;
	border-radius: 0px;
	height: inherit;
	border-radius: 3px;
    margin-bottom: 20px;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.featured-leader-sm .widget-user-username {
	margin-top: 0px;
	font-weight: 300;
}
.featured-leader-sm .widget-user-desc {
	margin: 5px 0;
}
.featured-leader-sm p {
	margin-bottom: 0px;
}
.featured-leader-sm img {
	width: 100px;
	float: left;
	/* border: solid 2px #fff; */
	margin-right: 10px;
	margin-bottom: 0px;
}

/* @end */

/* @group Feed Listing Pages */
	
.media-left img {
	max-width: 320px;
}
.media-body p {
	font-size: 16px;
}
.media-body p.small {
	font-size: 12px;
	color: #666;
}
.media-heading {
	font-size: 22px;
}

/* @end */

/* @group Team Pages */
	
.thumbnail .caption {
	min-height: 115px;
}
.thumbnail .caption h3 {
	margin: 0;
	font-size: 20px;
}
.thumbnail .caption p {
	margin: 0;
}
.thumbnail .caption .btn {
	margin-top: 10px;
}
.thumbnail img {
	width: 100%;
}
.modal-body img {
	float: left;
	width: 200px;
	margin: 0 10px 10px 0;	
}


/* @end */

/* @group HR Forms Pages */
	
.document-list {
	margin-bottom: 0px;
	padding-bottom: 0px;
	overflow: hidden;
}
.document-list .btn-social {
	margin: 0 10px 10px 0;
}

/* @end */