<!--<div style="height: 100%; width: 100%">-->
<div class="container-tile-layout">
    <section class="content-header">
        <h1>
            Dashboard Detail Administration
            <small><div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">Manually enter per month Added and Growth %, along with Annual values.</div></small>
            <!--Target, Year To Date, and Remaining Goal-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home </a>
                &nbsp;>&nbsp;
                <a id="page">Dashboard Detail Administration</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div id="loadingAdmin"></div>
        <div class="row m-none" style="height: 100%; width: 100%;padding-top: 20px;">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:right;margin-left: -40px;">
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;margin-top: 35px;">
                    Added
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;margin-top: 15px;">
                        Lost
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;margin-top: 15px;">
                    Growth %
                    </div>
                </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="height: 100%">
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>January</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>February</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>March</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>April</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>May</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>June</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>July</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>August</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>September</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>October</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>November</div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%;text-align:center">
                        <div>December</div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added1" id="added1" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added2" id="added2" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added3" id="added3" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added4" id="added4" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added5" id="added5" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added6" id="added6" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added7" id="added7" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added8" id="added8" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added9" id="added9" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added10" id="added10" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added11" id="added11" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="added12" id="added12" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost1" id="lost1" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost2" id="lost2" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost3" id="lost3" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost4" id="lost4" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost5" id="lost5" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost6" id="lost6" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost7" id="lost7" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost8" id="lost8" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost9" id="lost9" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost10" id="lost10" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost11" id="lost11" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                        <input type="text" class="k-input" name="lost12" id="lost12" data-type="number"
                               data-role="numerictextbox" style="width:100%"/>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth1" id="growth1" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth2" id="growth2" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth3" id="growth3" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth4" id="growth4" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth5" id="growth5" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth6" id="growth6" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth7" id="growth7" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth8" id="growth8" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth9" id="growth9" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth10" id="growth10" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth11" id="growth11" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 100%">
                    <input type="text" class="k-input" name="growth12" id="growth12" data-type="number"
                           data-role="numerictextbox" style="width:100%"/>
                </div>
            </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height: 100%">
                        <div class="k-edit-label">Target:</div>
                        <div class="k-edit-field">
                            <input type="text" class="k-input" name="target" id="target" data-type="number"
                                   data-role="numerictextbox"/>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height: 100%">
                        <div class="k-edit-label">Year to Date:</div>
                        <div class="k-edit-field">
                            <input type="text" class="k-input" name="ytd" id="ytd" data-type="number"
                                   data-role="numerictextbox" />
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height: 100%">
                        <div class="k-edit-label">Remaining Goal:</div>
                        <div class="k-edit-field">
                            <input type="text" class="k-input" name="remainGoal" id="remainGoal"
                                   data-type="number"
                                   data-role="numerictextbox"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: right;padding-right: 10px;margin-top: 40px;">
            <div id="SaveButton" class="btn btn-primary left" title="Save" style="margin-top: -5px;margin-right: 5px;">
                &nbsp;Save
            </div>
        </div>
    </section>
</div>