<div class="callout callout-danger">
    <p>
        <span id="title" style="font-size: 14px;">Alert Title </span> -
        <span id="text" style="font-size: 14px;"> Alert Text</span>
    </p>
</div>