<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!--style="min-height:700px"-->
        <ul id="esaTabBar" class="sidebar-menu">

            <li class="header">Main Menu</li>
            <li class="scheduler"><a href="#welcome"><i class="fa fa-home"></i> <span>Welcome</span></a></li>

            <li class="scheduler"><a href="#dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li class="scheduler"><a href="#myTimecard"><i class="fa fa-clock-o"></i> <span>My Time Card</span></a></li>
            <li class="scheduler">
                <a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Oc1Jw5FoXkSCBSO_wnjtcO8VHvrdvf9Kp9h3SNSiUPpUQlZBNzhVRzhQMzQ5WVhQWllKNUUyQjBFWC4u">
                    <i class="fa fa-pencil"></i> <span>Submit Timer Edit</span>
                </a>
            </li>
            <li class="scheduler"><a href="#calendar"><i class="fa fa-calendar"></i> <span>Calendar/Holidays</span></a></li>

            <!--<li><a href="#myStats"><i class="fa fa-gear"></i> <span>My Stats</span></a></li>-->
            <li class="scheduler">
                <a href="#messages">
                <i class="fa fa-flag"></i>
                    <span>Company Messages</span>
                    <span id="lastCompanyMessagesViewCount" class="label label-primary pull-right"></span>
                </a></li>
            <li class="scheduler">
                <a href="#esamedia">
                    <i class="fa fa-microphone"></i>
                    <span>ESA Media</span>
                    <span id="lastESAMediaViewCount" class="label label-primary pull-right"></span>
                </a>
            </li>
            <!--<li class="scheduler"><a href="#socialmedia"><i class="fa fa-thumbs-o-up"></i> <span>Social Media</span></a></li>-->
            <li class="scheduler"><a href="#news"><i class="fa fa-newspaper-o"></i> <span>Industry News</span></a></li>
            <li ><a href="#docs"><i class="fa fa-sticky-note-o"></i> <span>HR Forms & Docs</span></a></li>
            <li class="scheduler">
                <a href="#team">
                <i class="fa fa-users"></i>
                    <span>ESA Team</span>
                </a>
            </li>

            <li class="header manager">Manager Menu</li>
            <!--<li><a href="#"><i class="fa fa-fire"></i> <span>Hot List</span></a></li>-->
            <li class="manager views"><a href="#views"><i class="fa fa-eye"></i><span>Views</span></a></li>
            <li class="manager clientReports"><a href="#clientReports"><i class="fa fa-user"></i><span>Client Reports</span></a></li>
            <li class="manager companies"><a href="#companies"><i class="fa fa-building"></i> <span>Companies</span></a></li>
            <li class="manager plans"><a href="#plans"><i class="fa fa-map-marker"></i> <span>Plans</span></a></li>
            <li class="manager employees"><a href="#employees"><i class="fa fa-users"></i> <span>Employees</span></a></li>
            <li class="manager statsTimecard"><a href="#statsTimecard"><i class="fa fa-clock-o"></i> <span>Stats Time Card</span></a></li>

            <li class="header executive">Executive Menu</li>
            <li class="executive"><a href="#addNewClient"><i class="fa fa-plus"></i> <span>Add New Client</span></a></li>
            <li class="executive"><a href="#addNewCompany"><i class="fa fa-plus"></i> <span>Add New Company</span></a></li>
            <li class="executive"><a href="#addNewEmployee"><i class="fa fa-plus"></i> <span>Add New Employee</span></a></li>
            <li class="executive"><a href="#payrollProcessing"><i class="fa fa-money"></i> <span>Payroll Processing</span></a></li>
            <li class="executive"><a href="#users"><i class="fa fa-user"></i> <span>Users</span></a></li>
            <li class="executive"><a href="#vendors"><i class="fa fa-briefcase"></i> <span>Vendors</span></a></li>
            <!--<li class="executive"><a href="#values"><i class="fa fa-star"></i> <span>Values</span></a></li>-->
            <li class="executive"><a href="#tipsTricks"><i class="fa fa-magic"></i> <span>Tips & Tricks</span></a></li>
            <!--<li class="executive"><a href="#messages"><i class="fa fa-envelope-o"></i> <span>Messages</span></a></li>-->
            <li class="executive">
                <a href="#openTimers">
                    <i class="fa fa-clock-o"></i>
                    <span>Open Timers Prior to Today</span>
                    <span id="openTimersCount" class="label label-primary pull-right">#</span>
                </a>
            </li>
            <li class="executive"><a href="#admin"><i class="fa fa-gear"></i> <span>Admin Links</span></a></li>
            <!--<li class="executive"><a href="#taskBreakdown"><i class="fa fa-tasks"></i> <span>Task Breakdown Reports</span></a></li>-->
            <!--<li class="header executive treeview active" style="padding: 10px 0px 10px 0px !important;">-->
                <!--<a href="#" >Admin Menu</a>-->
                <!--<ul class="treeview-menu menu-open" style="padding: 0px 25px px 25px !important;">-->
                    <!--<li class="executive"><a href="#detailsAdmin"><i class="fa fa-gear"></i> <span>Dashboard Details Admin</span></a></li>-->
                    <!--<li class="executive"><a href="#adminAlertsData"><i class="fa fa-exclamation"></i> <span>Company Alerts Admin</span></a></li>-->
                    <!--<li class="executive"><a href="#adminMessagesData"><i class="fa fa-flag"></i> <span>Company Messages Admin</span></a></li>-->
                    <!--<li class="executive"><a href="#adminChatData"><i class="fa fa-comments-o"></i> <span>Company Chat Admin</span></a></li>-->
                    <!--<li class="executive"><a href="#adminESAMediaData"><i class="fa fa-microphone"></i> <span>ESA Media Admin</span></a></li>-->
                    <!--&lt;!&ndash;<li class="executive"><a href="#adminSocialMediaData"><i class="fa fa-thumbs-o-up"></i> <span>Social Media Admin</span></a></li>&ndash;&gt;-->
                    <!--<li class="executive"><a href="#adminIndustryNewsData"><i class="fa fa-newspaper-o"></i> <span>Industry News Admin</span></a></li>-->
                    <!--<li class="executive"><a href="#adminStaticData"><i class="fa fa-sticky-note-o"></i> <span>HR Forms & Docs Admin</span></a></li>-->
                    <!--<li class="executive"><a href="#adminBioData"><i class="fa fa-users"></i> <span>ESA Team Admin</span></a></li>-->
                <!--</ul>-->
            <!--</li>-->
           </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!--</div>-->
