<div id="modal-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="modal-dialog">
            <div id="avModal" class="modal-content">
                <div id="loadingWidget"></div>
                <div class="modal-header">
                    <!--<button id-="XButton" type="button" class="close" aria-label="Close" data-dismiss="modal">-->
                        <!--<span aria-hidden="true">×</span>-->
                    <!--</button>-->
                    <h4 id="title" class="modal-title">Title</h4>
                    <p id="timeStamp" class="text-muted">Date and Time</p>
                </div>
                <div class="modal-body">
                    <audio id="audioFile"
                           src=""
                           style="outline:none"
                           type="audio/mpeg"
                           controls="false"
                           controlsList="nodownload" >I'm sorry. You're browser doesn't support HTML5 <code>audio</code>.
                    </audio>
                    <video id="videoFile"
                           controls="controls"
                           controlsList="nodownload"
                           style="width: -webkit-fill-available;">

                           <source id="videoFileSource" type="video/mp4">
                           I'm sorry. You're browser doesn't support HTML5 <code>video</code>.
                    </video>
                    <p id="text">Description</p>
                </div>
                <div class="modal-footer">
                    <button id="closeButton" type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



