<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <div class="thumbnail">
        <a href="#" data-toggle="modal" data-target="#modal-default">
        <img id="bioImage" src="./img/ESA Team Default.png" alt="..."></a>
        <div class="caption">
            <h3 id="name">First Last</h3>
            <p id="title">Director of Something</p>
        </div>
        <a id="readMore" href="#" data-toggle="modal" data-target="#modal-default" class="btn btn-primary btn-block" role="button">Read More</a>
        <div id="bio-modal"></div>
    </div>
</div>