<div id="modal-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 id="name" class="modal-title">First Last</h4>
                    <p id="title" class="text-muted">Role</p>
                </div>
                <div class="modal-body">
                    <img id="bioImage" class="img-circleOFFOFF" src="./img/ESA Team Default.png" alt="...">
                    <p id="text2" style="font-style: italic">Fun Fact</p>
                    <p id="text">Description</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
