<div style="height:100%">
    <div id="loadingCalloutWidget"></div>
    <div id="calloutWidget" class="alert" style="margin-bottom:0px !important;">
        <button id="closeAlert" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="display: flex;align-items: center;margin-bottom: 0px;">
            <span id="alertHeader" >Header</span>
            <button style="margin-left: 1rem;margin-right: 1rem;" class="btn btn-primary" id="alertAction">Go To Chat Message</button>
            <span id="alertText2" style="flex: 0 0 65%;display: inline-block;font-size: 14px;font-weight: 400;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Alert Text</span>
            <!--<span id="alertText3" style="display: inline-block;font-size: 14px;font-weight: 400;">...</span>-->
        </h4>
        <!--<h5 id="alertActionGroup">-->
            <!---->
        <!--</h5>-->
        <h5 id="alertTextGroup">
            <span id="alertText">Alert Text</span>
        </h5>

    </div>
</div>
