<!-- Company Chat -->
<div class="box company-chat">
    <div id="loadingChatWidget"></div>
    <div class="box-header with-border">
        <h3 class="box-title">Company Chat</h3>
    </div>

    <div class="box-body row">
        <div id="chat-col1" class="col-sm-6">
            <div class="box-header">
                <div class="user-block">
                    <!--<img id="userImage" class="img-circle" src="./images/user-unavailable.jpg" alt="User Image">-->
                    <img id="userImage" src="./images/ESA-only-Logo-Black-3.png" alt="User Image">
                    <span id="username" class="username"><b>ESA Admin</b></span>
                    <span id="timeStamp" class="description">Shared publicly - 7:30 PM Today</span>
                </div>
            </div>
            <div class="box-body">
                <img id="image" class="img-responsive" src="./img/Company Chat Default.png" alt="Photo">
                <p id="title">Company Chat Title</p>
                <p id="text">Company Chat Text</p>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <label>Comment</label>
                    <textarea maxlength="500" id="newCommentText" class="form-control"
                              rows="3"
                              placeholder="Enter comment (500 char max)"
                              title="Enter comment (500 char max)"  ></textarea>
                </div>
                <div class="form-group">
                    <label for="fileName">File Attachment (if any)</label>
                    <input type="file" name="files" id="files">
                 </div>
                <a id="NewCommentButton" class="btn btn-primary btn-block" target="_blank"><b>Submit Comment</b></a>
            </div>

        </div>
        <div class="col-sm-6">
            <div id="chat-col2" class="box-comments">
                <div id="comment-21-list"></div>
            </div>
        </div>

    </div>

</div>