<div class="contact-info">
    <div id="loadingContactInfo"></div>
    <p><strong>Client</strong><a href="#editClient"><span id="client" class="pull-right"></span></a></p>
    <p><strong>Company:</strong> <span id="company" class="pull-right"></span></p>
    <p><strong>Plan:</strong> <span id="plan" class="pull-right"></span></p>
    <p><strong>Plan Amount:</strong> <span id="planAmount" class="pull-right"></span></p>
    <p><strong>Scheduler:</strong> <span id="scheduler" class="pull-right"></span></p>
    <p><strong>Email:</strong> <a href="#"
                                  class="pull-right"
                                  id="email"></a></p>
    <p><strong>Work Phone:</strong> <span id="workPhone" class="pull-right"></span></p>
    <p><strong>Mobile Phone:</strong> <span id="mobilePhone" class="pull-right"></span></p>
    <p><strong>Home Phone:</strong> <span id="homePhone" class="pull-right"></span></p>
    <p><strong>Assistant Internal:</strong> <span id="assistantInternal" class="pull-right"></span></p>
    <p><strong>Assistant Email:</strong> <span id="assistantEmail" class="pull-right"></span></p>
    <p><strong>Assistant Phone:</strong> <span id="assistantPhone" class="pull-right"></span></p>
    <p><strong>Additional Information:</strong> <span id="additionalInfo" class="pull-right"></span></p>
</div>