<div class="container-tile-layout" style="overflow: hidden;">
    <section class="content-header">
        <h1>
            Client Profile
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home </a>
                &nbsp;>&nbsp;
                <a id="page">Client Profile</a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="height:calc(100% - 41px);overflow: auto">
        <!--<div class="row">-->
            <div class="col-xs-7 ">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Contact Info</h3>
                    </div>
                    <div class="box-body">
                        <div id="tile-client-contact-info" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Client Files</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <div id="tile-client-files" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div id="scheduler-history" class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Scheduler History</h3>
                    </div>
                    <div class="box-body">
                        <div id="tile-scheduler-history" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                   </div>
                </div>

            </div>
            <div class="col-xs-5 ">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">This Month</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <div id="tile-client-summary" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Client Notes</h3>
                    </div>
                    <div class="box-body">
                        <div id="tile-client-notes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                   </div>
                </div>
            </div>
        <!--</div>-->
    </section>
</div>
