<div id="modal-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="middle">
            <div class="inner-timer">
                <div class="box-header with-border">
                    <h3 class="box-title" id="title">Reply to Comment</h3>
                    <button id="CloseButton" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="box-body row">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Comment</label>
                        <textarea maxlength="500" id="newCommentText" class="form-control"
                          rows="3"
                          placeholder="Enter comment (500 char max)"
                          title="Enter comment (500 char max)"  ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fileName">File Attachment (if any)</label>
                            <!--<input type="file" name="files2" id="files2">-->
                            <input name="fileName" id="fileName" type="file" aria-label="files" style="width: 300px"/>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a id="SubmitButton" class="btn btn-primary btn-block" target="_blank"><b>Submit Reply</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingComment21Reply"></div>