<div>
    <div id="boxComment" class="box-comment">
        <div class="box-header">
            <button id="deleteComment" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">×</span></button>
        </div><!-- /.box-header -->
        <img id="userImage" class="img-circle img-smOFF" src="./img/ESA Team Default.png" alt="User Image">

        <div class="comment-text">
      <span class="username">
          <span id="commentUserName">First Last</span>
          <span id="commentTimeStamp" class="text-muted pull-right" style="padding-right: 4px;">8:03 PM Today</span>
      </span>

            <a id="link" href="./img/Company Chat Default.png" target="_blank">
                <img id="commentImage" class="attachment-img" src="./img/Company Chat Default.png"
                     alt="Attachment Image">
            </a>
            <span id="comment">Comment Text</span>
        </div>
        <div class="box-footer">
            <button id="replyToComment" class="btn btn-primary">Reply</button>
        </div>
    </div>
</div>
<div id="commentLoading"></div>
