<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner-wrap">

        <ol class="carousel-indicators">
            <li data-slide-to="0" class=""></li>
            <li data-slide-to="1" class=""></li>
            <li data-slide-to="2" class=""></li>
            <li data-slide-to="3" class=""></li>
        </ol>

        <div id="company-messages" class="carousel-inner"></div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="fa fa-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="fa fa-angle-right"></span>
        </a>
    </div>
</div>
