<div>
<div class="item">
    <!--style="min-height: 344px"-->
    <img id="image" src="./img/Company Messages Default.png" >
    <!--alt="First slide"-->
    <div class="carousel-caption">
        <h1 id="title">Company Message 1</h1>
        <p id="text" style="font-size: 14px;">Subtitle or description
        </p>
        <a id="externalLink" href="http://www.esasolutions.com" target="_blank" class="btn btn-primary"><span id="text2">External Link</span></a>
    </div>
</div>
</div>