<div class="contact-info">
    <div id="loadingContactInfo"></div>
    <p><strong>Company:</strong><a href="#editCompany"><span id="company" class="pull-right"></span></a></p>
    <p><strong>Stage of Sale:</strong> <span id="stageOfSale" class="pull-right"></span></p>
    <p><strong>Primary Contact:</strong> <span id="primaryContact" class="pull-right"></span></p>
    <p><strong>Contact Phone:</strong> <span id="contactPhone" class="pull-right"></span></p>
    <p><strong>Email:</strong> <a href="#"
                                  class="pull-right"
                                  id="email"></a></p>
    <p><strong>CSP Type:</strong> <span id="cspType" class="pull-right"></span></p>
    <p><strong>Rates Structure:</strong> <span id="ratesStructure" class="pull-right"></span></p>
    <p><strong>Billing Details:</strong> <span id="billingDetails" class="pull-right"></span></p>
</div>