
<div class="box box-widget" style="margin-bottom:10px">
    <!--<div class="box-header" style="padding: 8px !important">-->
        <!--<h3 id="statsTitle" class="box-title">My Team Stats</h3>-->
    <!--</div>-->
    <div class="box-header" style="padding: 8px !important">
        <h3 id="statsTitle" class="box-title">My Team Stats</h3>
        <div class="box-tools pull-right" style="right: 50px;display:none">
            <div class="btn comp-time" disabled style="padding-right:0px;font-size:12px"><span>Comp Time</span></div>
            <div class="btn btn-box-tool comp-time">
                <input type="checkbox" class="toggleCheckBox" id="toggleCompTime" name="" value="">
                <div class="toggle" title="Don't Show Comp Time">
                    <label for="toggleCompTime"><i></i></label>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-manage"></div>
    <div class="box-body" style="height: 158px;">
        <div class="" style="height:calc(100% - 40px);">
            <div id="loadingDashboardSummaryWidget"></div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
                <h3><span id="mtgAverage">0.0</span></h3>
                <p id="mtgAverageLabel">Mtg Avg (per hr)</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
                <h3><span id="actualMtg">0.0</span></h3>
                <p id="actualMtgLabel">Actual</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
                <h3><span id="targetMtg">0.0</span></h3>
                <p id="targetMtgLabel">Target</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
                <h3><span id="percentMtg">0.0</span></h3>
                <p id="percentMtgLabel">Percentage</p>
            </div>
        </div>
    </div>
</div>

<style>

</style>

