<span>
    <a id="fileView" class="btn btn-social bg-primary" style="width:202px !important"
       onclick="window.open(this.href,'_blank');return false;">
        <!--target="_blank"-->
        <i class="fa fa-file-o"></i> Sample Document
    </a>
</span>