<div class="container-tile-layout" style="overflow: hidden;">
    <div id="sub-header"></div>
    <section id="dashboard-section" class="content esa-section" style="height:calc(100% - 65px);overflow: auto;">
        <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header with-border ui-sortable-handle">
                <h3 class="box-title">ESA Forms</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            <div class="box-body document-list">

                <div id="esa-forms" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box">
            <div class="box-header with-border ui-sortable-handle">
                <h3 class="box-title">Federal Rights and Postings</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            <div class="box-body document-list">

                <div id="federal-rights-postings" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>
    </section>

    <section class="content-header">
        <h1>State Rights and Postings
        </h1>
    </section>

    <section class="content">
        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Arizona</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;" aria-expanded="false">

                <div id="state-rights-postings0" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">California</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings1" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <!--<div class="box collapsed-box">-->
            <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">Colorado</h3>-->
                <!--<div class="box-tools pull-right">-->
                    <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="box-body document-list" style="display:none;">-->

                <!--<div id="state-rights-postings2" style="width: 100%; height: 100%; position: relative; overflow: auto;">-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Florida</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings3" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Georgia</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings4" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>
            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Idaho</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings5" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Kansas</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings6" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Massachusetts</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings7" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Michigan</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings8" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>


        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Missouri</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings9" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Nevada</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings10" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">New Jersey</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings11" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">New York</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings12" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">North Carolina</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings13" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Ohio</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings14" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Pennsylvania</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings15" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">South Carolina</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings16" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Texas</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings17" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>

            </div>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Wisconsin</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="box-body document-list" style="display:none;">

                <div id="state-rights-postings18" style="width: 100%; height: 100%; position: relative; overflow: auto;">
                </div>
            </div>
        </div>
    </section>

    </section>
</div>
