<div class="risk-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">

        <div class="k-edit-label"><label for="employeeID">Id</label></div>
        <div class="k-edit-field">
            <input name="employeeID" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:employeeID"
                   readonly>
        </div>

        <div class="k-edit-label"><label for="firstName">First Name</label></div>
        <div data-container-for="firstName" class="k-edit-field">
            <input name="firstName" type="text" class="k-input k-textbox" data-bind="value:firstName">
        </div>

        <div class="k-edit-label"><label for="lastName">Last Name</label></div>
        <div data-container-for="lastName" class="k-edit-field">
            <input name="lastName" type="text" class="k-input k-textbox" data-bind="value:lastName">
        </div>

        <div class="k-edit-label"><label for="esaLocalPhone">ESA Local Phone</label></div>
        <div data-container-for="esaLocalPhone" class="k-edit-field">
            <input name="esaLocalPhone" type="text" class="k-input k-textbox" data-bind="value:esaLocalPhone">
        </div>

        <div class="k-edit-label"><label for="eeTypeID">Type</label></div>
        <div data-container-for="eeTypeID" class="k-edit-field">
            <input name="eeTypeID" data-value-field="value" data-text-field="text"
                   data-bind="value:eeTypeID" data-role="dropdownlist"
                   data-source="[
                    {text: 'Admin', value: 1},
                    {text: 'Scheduler', value: 2}
                    ]"/>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">
        <div class="k-edit-label"><label for="status">Status</label></div>
        <div data-container-for="status" class="k-edit-field">
            <input name="status" data-value-field="value" data-text-field="value"
                   data-bind="value:status" data-role="dropdownlist"
                   data-source="[
                    {value: '1 - Active'},
                    {value: '2 - Termed'},
                    {value: '3 - No Hire'}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="isEligibleSupport">Eligible Support</label></div>
        <div data-container-for="isEligibleSupport" class="k-edit-field">
            <input name="isEligibleSupport" data-value-field="value" data-text-field="text"
                   data-bind="value:isEligibleSupport" data-role="dropdownlist"
                   data-source="[
                    {text: 'Yes', value: false},
                    {text: 'No', value: true}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="maxClientLoad">Max</label></div>
        <div class="k-edit-field">
            <input name="maxClientLoad" type="number" class="k-textbox k-input" data-bind="value:maxClientLoad">
        </div>

        <div class="k-edit-label"><label for="currentClientLoad">Current</label></div>
        <div class="k-edit-field">
            <input name="currentClientLoad" type="number" class="k-textbox k-input" data-bind="value:currentClientLoad">
        </div>

        <div class="k-edit-label"><label for="clientsLost">Lost</label></div>
        <div class="k-edit-field">
            <input name="clientsLost" type="number" class="k-textbox k-input" data-bind="value:clientsLost">
        </div>

    </div>

</div>

<script>
    $(document).ready(function () {

        // Formatting
        console.log('editPortalEmployeePopup:js:');

//        $('input').filter(function () {
//            console.log($(this));
//            return $(this).text() === "D";
//        }).css('background-color', '#f2dede');

    });
</script>


