<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="min-width: 300px;">

        <input name="dataUrl" hidden>
        <div class="k-edit-label"><label for="userKey">User Key</label></div>
        <div class="k-edit-field">
            <input name="userKey" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:userKey"
                   readonly>
        </div>

        <div class="k-edit-label"><label for="lastName">Last Name</label></div>
        <div data-container-for="lastName" class="k-edit-field">
            <input name="lastName" type="text" class="k-input k-textbox" data-bind="value:lastName">
        </div>

        <div class="k-edit-label"><label for="firstName">First Name</label></div>
        <div data-container-for="firstName" class="k-edit-field">
            <input name="firstName" type="text" class="k-input k-textbox" data-bind="value:firstName">
        </div>

        <div class="k-edit-label"><label for="userLogin">User Login</label></div>
        <div data-container-for="userLogin" class="k-edit-field">
            <input name="userLogin" type="text" class="k-input k-textbox" data-bind="value:userLogin">
        </div>

        <div class="k-edit-label"><label for="userPassword">User Password</label></div>
        <div data-container-for="userPassword" class="k-edit-field">
            <input name="userPassword" type="password" class="k-input k-textbox" data-bind="value:userPassword">
            <button id="clearPassword" onclick="sendPasswordEmail()">Send Reset Password Email</button>
        </div>


        <div class="k-edit-label"><label for="userType">User Type</label></div>
        <div data-container-for="userType" class="k-edit-field">
            <input name="userType" data-value-field="value" data-text-field="text"
                   data-bind="value:userType" data-role="dropdownlist"
                   data-source="[
                    {text: 'Pre-Hire', value: 0},
                    {text: 'Employee', value: 1},
                    {text: 'Manager', value: 2},
                    {text: 'Executive', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="inactive">Inactive</label></div>
        <div data-container-for="inactive" class="k-edit-field">
            <!--<input name="inactive" data-bind="value:inactive" type="checkbox">-->
            <input name="inactive" data-value-field="value" data-text-field="text"
                   data-bind="value:inactive" data-role="dropdownlist"
                   data-source="[
                    {text: 'True', value: 'true'},
                    {text: 'False', value: 'false'}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="loginCount">Login Count</label></div>
        <div class="k-edit-field">
            <input name="loginCount" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:loginCount"
                   readonly>
        </div>

        <div class="k-edit-label"><label for="lastLogin">Last Login</label></div>
        <div class="k-edit-field">
            <input name="lastLogin" type="text" data-type="date" class="k-textbox k-state-disabled k-input" data-bind="value:lastLogin"
                   readonly>
        </div>

        <div class="k-edit-label"><label for="lastPasswordChange">Password Changed</label></div>
        <div class="k-edit-field">
            <input name="lastPasswordChange" type="text" data-type="date" class="k-textbox k-state-disabled k-input" data-bind="value:lastPasswordChange"
                   readonly>
        </div>
        <!--<div class="k-edit-label"><label for="lastLogout">Last Logout</label></div>-->
        <!--<div class="k-edit-field">-->
            <!--<input name="lastLogout" type="text" data-type="date" class="k-textbox k-state-disabled k-input" data-bind="value:lastLogout"-->
                   <!--readonly>-->
        <!--</div>-->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none row" style="text-align: center !important;">
            <div id="startWarning" class="alert-warning " role="alert"
                 style="display: block; float:none;"></div>
            <div id="startSuccess" class="alert-success " role="alert"
                 style="display: block; float:none;"></div>
            <div id="startError" class="alert-danger " role="alert"
                 style="display: block; float:none;"></div>
    </div>

    <script>

        function createAutoClosingAlert(selector, html) {
            console.log('editPortalUserPopup:createAutoClosingAlert');

            $(selector).html(html);
            $(selector).css("opacity", 1);
            $(selector).css("display", "block");
            var alert = $(selector).addClass("alert");

            window.setTimeout(function () {
                alert.fadeTo(500, 0).slideUp(500, function () {
                    alert.html("");
                    alert.removeClass("alert");
                });
            }, 50000);
        }

        function sendPasswordEmail(val) {
            var userKey = parseInt($("input[name = 'userKey']").val(),0);
            var dataUrl = $("input[name = 'dataUrl']")[0].defaultValue;
            console.log('editPortalUserPopup:js:sendPasswordEmail:dataUrl:' + dataUrl);
            console.log('editPortalUserPopup:js:sendPasswordEmail:userKey:' + userKey);

            //$("input[name = 'userPassword']").val("");

            if (userKey !== null && userKey !== undefined) {
                this.employeeDataSource = new kendo.data.DataSource(
                        {
                            autoBind: false,
                            type: "odata",
                            transport: {
                                read: {
                                    url: dataUrl + "/odata/ProgressEmployee",
                                    dataType: "json"
                                },
                                complete: function (e) {
                                    console.log('editPortalUserPopup:employeeDataSource:read:complete');
                                },
                                error: function (e) {
                                    var message = 'editPortalUserPopup:employeeDataSource:read:error:' + JSON.stringify(e.responseJSON);
                                    console.log(message);
                                }
                            },
                            schema: {
                                data: "value",
                                total: function (data) {
                                    return data['odata.count'];
                                },
                                model: {
                                    id: "employeeID",
                                    fields: {
                                        employeeID: {editable: false, type: "number"},
                                        teamLeaderID: {editable: false, type: "number"},
                                        userKey: {editable: true, type: "string", validation: {required: false}},
                                        firstName: {editable: true, type: "string", validation: {required: false}},
                                        lastName: {editable: true, type: "string", validation: {required: false}},
                                        status: {type: "string", validation: {required: false}},
                                        timerManual: {editable: true, type: "boolean"},
                                        timeZoneID: {editable: false, type: "number"},
                                        isTeamLeader: {editable: true, type: "boolean"},
                                        emailAddress: {editable: true, type: "string", validation: {required: false}},
                                        homePhone: {editable: true, type: "string", validation: {required: false}},
                                        esaLocalPhone: {editable: true, type: "string", validation: {required: false}},
                                        esaTollFree: {editable: true, type: "string", validation: {required: false}},
                                        hidePlans: {editable: true, type: "boolean"},
                                        hideStatsTimecard: {editable: true, type: "boolean"},
                                        hideLevel1Employees: {editable: true, type: "boolean"},
                                        hideClients: {editable: true, type: "boolean"},
                                        hideCompanies: {editable: true, type: "boolean"}
                                    }
                                }
                            },
                            serverFiltering: true,
                            serverSorting: true,
                            requestStart: function () {
                                kendo.ui.progress($("#loadingEsaUser"), true);
                            },
                            requestEnd: function () {
                                kendo.ui.progress($("#loadingEsaUser"), false);
                            }
                        });
                this.employeeDataSource.filter(
                        {field: "userKey", operator: "eq", value: userKey}
                );
                this.employeeDataSource.fetch(function () {

                    var empData = this.data();
                    var empCount = empData.length;

                    if (empCount === 0) {
                        createAutoClosingAlert($("#startError"), "<strong>Login Failure.</strong> userKey not found.");
                    }
                    else {

                        var empRecord = empData[0];

                        $.ajax({
                            type: 'GET',
                            contentType: "application/json", //; charset=utf-8",
                            url: dataUrl + "/rest/GetResetPassword/" + empRecord.userKey + "/" + empRecord.emailAddress + "/",
                            dataType: 'json',
                            success: function (response) {
                                console.log("editPortalUserPopup:sendPasswordEmail:success:response:" + response);
                                kendo.ui.progress($("#loadingEsaUser"), false);

                                if (response === "Password changed successfully") {
                                    createAutoClosingAlert($("#startSuccess"), "<strong>Success.</strong> Password reset email was sent to: " + empRecord.emailAddress, 2500);
                                } else {
                                    createAutoClosingAlert($("#startError"), "<strong>Failed.</strong> Password reset failed.", 5000);
                                }
                            },
                            error: function (err) {
                                console.log("editPortalUserPopup:sendPasswordEmail:Error: " + err);
                                kendo.ui.progress($("#loadingEsaUser"), false);

                                var errorToShow = "Reset password failed.";
                                if (err.responseText && err.responseText.length > 0) {
                                    errorToShow = err.responseText;
                                    //parse the leading and trailing double quotes from the string
                                    errorToShow = errorToShow.substring(1, errorToShow.length - 1);
                                }
                                createAutoClosingAlert($("#startError"), "<strong>Failed.</strong> " + errorToShow, 5000);
                            }
                        });


                    }
                });
            }

        }

        $(document).ready(function () {
            console.log('editPortalUserPopup:js:ready');
        });

    </script>
</div>


