<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="min-width: 300px;">

        <span id="idGroup">
        <div class="k-edit-label"><label for="ID">Id</label></div>
        <div class="k-edit-field">
            <input name="ID" type="text" class="k-textbox k-state-disabled k-input"
                   data-bind="value:ID"
                   readonly>
        </div>
        </span>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input name="title" type="text" class="k-input k-textbox"
                   data-bind="value:title"
                   style="width: 300px">
        </div>

        <div class="k-edit-label"><label for="text">Text</label></div>
        <div data-container-for="text" class="k-edit-field">
            <textarea name="text" type="text" class="k-input k-textbox"
                      data-bind="value:text"
                      style="width: 300px;height: 100px"
            ></textarea>
        </div>

        <div class="k-edit-label"><label for="fileName">File Name</label></div>
        <div id="fileNameContainer" name="fileNameContainer" data-container-for="fileName" class="k-edit-field">
            <input name="files" id="files" type="file" aria-label="files"/>
            <!--<input name="fileName" type="text" class="k-input k-textbox" data-bind="value:fileName" readonly>-->
            <!--<button id="files" onclick="uploadFile()">Select File...</button>-->
        </div>

        <div class="k-edit-label"><label for="category">Category</label></div>
        <div name="category" data-container-for="category" class="k-edit-field">
            <input  id="category" data-value-field="value" data-text-field="text"
                    data-bind="value:category" data-role="dropdownlist"
                    data-source="[
                    {text: 'ESA Forms', value: 9},
                    {text: 'Federal Rights and Postings', value: 10},
                    {text: 'State Rights and Postings', value: 11}
                ]"
            />
        </div>

        <span id="subCategoryContainer">
            <div class="k-edit-label"><label for="subCategory">State</label></div>
            <div  name="subCategory" data-container-for="subCategory" class="k-edit-field">
                <input  id="subCategory" data-value-field="value" data-text-field="text"
                        data-bind="value:subCategory" data-role="dropdownlist"
                        data-source="[
                        {text: 'None', value: 0},
                        {text: 'Arizona', value: 1},
                        {text: 'California', value: 2},
                        {text: 'Colorado', value: 3},
                        {text: 'Florida', value: 4},
                        {text: 'Georgia', value: 5},
                        {text: 'Idaho', value: 6},
                        {text: 'Kansas', value: 7},
                        {text: 'Massachusetts', value: 8},
                        {text: 'Michigan', value: 9},
                        {text: 'Missouri', value: 10},
                        {text: 'Nevada', value: 11},
                        {text: 'New Jersey', value: 12},
                        {text: 'New York', value: 13},
                        {text: 'North Carolina', value: 14},
                        {text: 'Ohio', value: 15},
                        {text: 'Pennsylvania', value: 16},
                        {text: 'South Carolina', value: 17},
                        {text: 'Texas', value: 18}
                        {text: 'Wisconsin', value: 19},
                    ]"
                />
            </div>
        </span>

        <!--<div class="k-edit-label"><label for="showAsCompanyMessage">Show?</label></div>-->
        <!--<div data-container-for="showAsCompanyMessage" class="k-edit-field">-->
            <!--<input name="showAsCompanyMessage" data-value-field="value" data-text-field="text"-->
                   <!--data-bind="value:showAsCompanyMessage" data-role="dropdownlist"-->
                   <!--data-source="[-->
            <!--{text: 'Yes', value: 'true'},-->
            <!--{text: 'No', value: 'false'}-->
            <!--]"/>-->
        <!--</div>-->
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none row" style="text-align: center !important;">
    <div id="startWarning" class="alert-warning " role="alert"
         style="display: block; float:none;"></div>
    <div id="startSuccess" class="alert-success " role="alert"
         style="display: block; float:none;"></div>
    <div id="startError" class="alert-danger " role="alert"
         style="display: block; float:none;"></div>
</div>


<script>

    $(document).ready(function () {
        console.log('editPortalAdminStaticDataPopup:document ready');
    });

</script>


