<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="min-width: 300px;">

        <input name="dataUrl" hidden>
        <div class="k-edit-label"><label for="planID">Plan ID</label></div>
        <div class="k-edit-field">
            <input name="planID" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:planID"
                   readonly>
        </div>

        <div class="k-edit-label"><label for="planType">Type</label></div>
        <div data-container-for="planType" class="k-edit-field">
            <input name="planType" type="text" class="k-input k-textbox" data-bind="value:planType">
        </div>

        <div class="k-edit-label"><label for="planName">Plan Name</label></div>
        <div data-container-for="planName" class="k-edit-field">
            <input name="planName" type="text" class="k-input k-textbox" data-bind="value:planName">
        </div>

        <div class="k-edit-label"><label for="description">Description</label></div>
        <div data-container-for="description" class="k-edit-field">
            <input name="description" type="text" class="k-input k-textbox" data-bind="value:description">
        </div>

        <div class="k-edit-label"><label for="inactive">Inactive</label></div>
        <div data-container-for="inactive" class="k-edit-field">
            <input name="inactive" data-value-field="value" data-text-field="text"
                   data-bind="value:inactive" data-role="dropdownlist"
                   data-source="[
                    {text: 'True', value: 'true'},
                    {text: 'False', value: 'false'}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="planPrice">Pricing</label></div>

        <div data-container-for="planPrice" class="k-edit-field">
          <input type="text" name="planPrice" data-type="number" data-bind="value:planPrice" data-role="numerictextbox" role="spinbutton" class="k-input" aria-disabled="false" aria-readonly="false" style="display: none;">
        </div>

        <div class="k-edit-label"><label for="rateSheetHours_4wk">Rate Sheet Hours</label></div>
        <div data-container-for="rateSheetHours_4wk" class="k-edit-field">
            <input type="text" name="rateSheetHours_4wk" data-type="number" data-bind="value:rateSheetHours_4wk" data-role="numerictextbox" role="spinbutton" class="k-input" aria-disabled="false" aria-readonly="false" style="display: none;">
        </div>

        <div class="k-edit-label"><label for="schedulingHours_4wk">Scheduling Hours</label></div>
        <div data-container-for="schedulingHours_4wk" class="k-edit-field">
            <input type="text" name="schedulingHours_4wk" data-type="number" data-bind="value:schedulingHours_4wk" data-role="numerictextbox" role="spinbutton" class="k-input" aria-disabled="false" aria-readonly="false" style="display: none;">
        </div>



    </div>

    <script>

        $(document).ready(function () {
            console.log('editProgressPlanPopup:js:ready');
        });

    </script>
</div>


