<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="min-width: 300px;">

        <span id="idGroup">
        <div class="k-edit-label"><label for="ID">Id</label></div>
        <div class="k-edit-field">
            <input name="ID" type="text" class="k-textbox k-state-disabled k-input"
                   data-bind="value:ID"
                   readonly>
        </div>
        </span>

        <div class="k-edit-label"><label for="priority">Priority</label></div>
        <div name="priority" data-container-for="priority" class="k-edit-field">
            <input  id="priority" data-value-field="value" data-text-field="text"
                    data-bind="value:priority" data-role="dropdownlist"
                    data-source="[
                    {text: '1', value: 1},
                    {text: '2', value: 2},
                    {text: '3', value: 3},
                    {text: '4', value: 4},
                    {text: '5', value: 5},
                    {text: '6', value: 6},
                    {text: '7', value: 7},
                    {text: '8', value: 8}
                ]"
            />
        </div>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input name="title" type="text" class="k-input k-textbox"
                   data-bind="value:title"
                   style="width: 300px">
        </div>

        <div class="k-edit-label"><label for="text">Text</label></div>
        <div data-container-for="text" class="k-edit-field">
            <textarea name="text" type="text" class="k-input k-textbox"
                      data-bind="value:text"
                      style="width: 300px;height: 100px"
            ></textarea>
        </div>

        <div class="k-edit-label"><label for="externalLink">External Link</label></div>
        <div data-container-for="externalLink" class="k-edit-field">
            <input name="externalLink" type="text" class="k-input k-textbox" data-bind="value:externalLink">
        </div>

        <div class="k-edit-label"><label for="text2">External Link Button Title</label></div>
        <div data-container-for="text2" class="k-edit-field">
            <input name="text2" type="text" class="k-input k-textbox" data-bind="value:text2">
        </div>

        <span id="fileGroup">
        <div class="k-edit-label"><label for="fileName">File Name</label></div>
        <div id="fileNameContainer" name="fileNameContainer" data-container-for="fileName" class="k-edit-field">
            <input name="files" id="files" type="file" aria-label="files"/>
            <!--<input name="fileName" type="text" class="k-input k-textbox" data-bind="value:fileName" readonly>-->
            <!--<button id="files" onclick="uploadFile()">Select File...</button>-->
        </div>
        </span>

        <div class="k-edit-label"><label for="timeStamp">Time Stamp</label></div>
        <div data-container-for="timeStamp" class="k-edit-field">
            <input type="text" name="timeStamp"
                   data-type="date" data-bind="value:timeStamp"
                   data-role="datepicker" class="k-input" role="combobox">
        </div>

        <div class="k-edit-label"><label for="showAsCompanyMessage">Show Message on Welcome Page</label></div>
        <div data-container-for="showAsCompanyMessage" class="k-edit-field">
            <input name="showAsCompanyMessage" data-value-field="value" data-text-field="text"
                   data-bind="value:showAsCompanyMessage" data-role="dropdownlist"
                   data-source="[
            {text: 'Yes', value: 'true'},
            {text: 'No', value: 'false'}
            ]"/>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none row" style="text-align: center !important;">
    <div id="startWarning" class="alert-warning " role="alert"
         style="display: block; float:none;"></div>
    <div id="startSuccess" class="alert-success " role="alert"
         style="display: block; float:none;"></div>
    <div id="startError" class="alert-danger " role="alert"
         style="display: block; float:none;"></div>
</div>


<script>

    $(document).ready(function () {
        console.log('editPortalAdminMessagesDataPopup:document ready');
    });

</script>


