<div class="risk-edit-popup">

        <div class="k-edit-label"><label for="employeeID">Id</label></div>
        <div class="k-edit-field">
            <input name="employeeID" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:employeeID"
                   readonly>
        </div>

        <div class="k-edit-label"><label for="firstName">First Name</label></div>
        <div data-container-for="firstName" class="k-edit-field">
            <input name="firstName" type="text" class="k-input k-textbox" data-bind="value:firstName">
        </div>

        <div class="k-edit-label"><label for="lastName">Last Name</label></div>
        <div data-container-for="lastName" class="k-edit-field">
            <input name="lastName" type="text" class="k-input k-textbox" data-bind="value:lastName">
        </div>

        <div class="k-edit-label"><label for="esaLocalPhone">ESA Local Phone</label></div>
        <div data-container-for="esaLocalPhone" class="k-edit-field">
            <input name="esaLocalPhone" type="text" class="k-input k-textbox" data-bind="value:esaLocalPhone">
        </div>

</div>

<script>
    $(document).ready(function () {

        // Formatting
        console.log('editPortalValuePopup:js:');

//        $('input').filter(function () {
//            console.log($(this));
//            return $(this).text() === "D";
//        }).css('background-color', '#f2dede');

    });
</script>


