<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="min-width: 300px;">

        <span id="idGroup">
        <div class="k-edit-label"><label for="ID">Id</label></div>
        <div class="k-edit-field">
            <input name="ID" type="text" class="k-textbox k-state-disabled k-input"
                   data-bind="value:ID"
                   readonly>
        </div>
        </span>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input name="title" type="text" class="k-input k-textbox"
                   data-bind="value:title"
                   style="width: 300px">
        </div>

        <div class="k-edit-label"><label for="text">Text</label></div>
        <div data-container-for="text" class="k-edit-field">
            <textarea name="text" type="text" class="k-input k-textbox"
                      data-bind="value:text"
                      style="width: 300px;height: 100px"
            ></textarea>
        </div>

        <!--<div class="k-edit-label"><label for="text2">Text 2</label></div>-->
        <!--<div data-container-for="text2" class="k-edit-field">-->
            <!--<textarea name="text2" type="text2" class="k-input k-textbox" data-bind="value:text2"></textarea>-->
        <!--</div>-->

        <!--<span id="subCategoryContainer">-->
            <!--<div class="k-edit-label"><label for="subCategory">Alert Type</label></div>-->
            <!--<div  name="subCategory" data-container-for="subCategory" class="k-edit-field">-->
                <!--<input  id="subCategory" data-value-field="value" data-text-field="text"-->
                        <!--data-bind="value:subCategory" data-role="dropdownlist"-->
                        <!--data-source="[-->
                        <!--{text: 'None', value: 0},-->
                        <!--{text: '1', value: 1},-->
                        <!--{text: '2', value: 2}-->
                    <!--]"-->
                <!--/>-->
            <!--</div>-->
        <!--</span>-->

        <div class="k-edit-label"><label for="priority">Priority</label></div>
        <div name="priority" data-container-for="priority" class="k-edit-field">
            <input  id="priority" data-value-field="value" data-text-field="text"
                    data-bind="value:priority" data-role="dropdownlist"
                    data-source="[
                {text: '1', value: 1},
                {text: '2', value: 2}
                ]"
            />
        </div>

        <div class="k-edit-label"><label for="timeStamp">Time Stamp</label></div>
        <div data-container-for="timeStamp" class="k-edit-field">
            <input type="text" name="timeStamp"
                   data-type="date" data-bind="value:timeStamp"
                   data-role="datepicker" class="k-input" role="combobox">
        </div>

        <div class="k-edit-label"><label for="showAsCompanyMessage">Show Alert?</label></div>
        <div data-container-for="showAsCompanyMessage" class="k-edit-field">
            <input name="showAsCompanyMessage" data-value-field="value" data-text-field="text"
                   data-bind="value:showAsCompanyMessage" data-role="dropdownlist"
                   data-source="[
            {text: 'Yes', value: 'true'},
            {text: 'No', value: 'false'}
            ]"/>
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none row" style="text-align: center !important;">
    <div id="startWarning" class="alert-warning " role="alert"
         style="display: block; float:none;"></div>
    <div id="startSuccess" class="alert-success " role="alert"
         style="display: block; float:none;"></div>
    <div id="startError" class="alert-danger " role="alert"
         style="display: block; float:none;"></div>
</div>


<script>

    $(document).ready(function () {
        console.log('editPortalAdminAlertsDataPopup:document ready');
    });

</script>


