<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">
        <!--<div class="k-edit-label"><label for="employeeID">Id</label></div>-->
        <!--<div class="k-edit-field">-->
        <!--<input name="employeeID" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:employeeID"-->
        <!--readonly>-->
        <!--</div>-->

        <div class="k-edit-label"><label for="eeTypeID">Employee Type</label></div>
        <div data-container-for="eeTypeID" class="k-edit-field">
            <input name="eeTypeID" data-value-field="value" data-text-field="text"
                   data-bind="value:eeTypeID" data-role="dropdownlist"
                   data-source="[
                    {text: 'Admin', value: 1},
                    {text: 'Scheduler', value: 2}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="status">Status</label></div>
        <div data-container-for="status" class="k-edit-field">
            <input name="status" data-value-field="value" data-text-field="value"
                   data-bind="value:status" data-role="dropdownlist"
                   data-source="[
                    {value: '1 - Active'},
                    {value: '2 - Termed'},
                    {value: '3 - No Hire'}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="timerStatus">Timer Status</label></div>
        <div data-container-for="timerStatus" class="k-edit-field">
            <input name="timerStatus" data-value-field="value" data-text-field="value"
                   data-bind="value:timerStatus" data-role="dropdownlist"
                   data-source="[
                    {value: '1 - Normal'},
                    {value: '2 - Support'},
                    {value: '3 - Management'},
                    {value: '4 - Admin'}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="timerManual">Allow Manual Timer</label></div>
        <div data-container-for="timerManual" class="k-edit-field">
            <input name="timerManual" data-value-field="value" data-text-field="text"
                   data-bind="value:timerManual" data-role="dropdownlist"
                   data-source="[
                    {text: 'Yes', value: false},
                    {text: 'No', value: true}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="isEligibleSupport">Eligible Support</label></div>
        <div data-container-for="isEligibleSupport" class="k-edit-field">
            <input name="isEligibleSupport" data-value-field="value" data-text-field="text"
                   data-bind="value:isEligibleSupport" data-role="dropdownlist"
                   data-source="[
                    {text: 'Yes', value: false},
                    {text: 'No', value: true}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="teamLeader">Account Manager</label></div>
        <div data-container-for="teamLeader" class="k-edit-field">
            <input name="teamLeader" data-value-field="value" data-text-field="text"
                   data-bind="value:teamLeader" data-role="dropdownlist"
                   data-source="[
                    {text: 'None', value:0},
                    {text: 'Alisha Mendez', value:57},
                    {text: 'Heather Pixton', value:67},
                    {text: 'Colleen Ramsey', value:68},
                    {text: 'Lanise Santala	', value:74},
                    {text: 'Ashley Smith', value:78},
                    {text: 'Libbie Decker', value:94},
                    {text: 'Emilie Kadlec', value:317},
                    {text: 'Brandi Elias', value:403}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="firstName">First Name</label></div>
        <div data-container-for="firstName" class="k-edit-field">
            <input name="firstName" type="text" class="k-input k-textbox" data-bind="value:firstName">
        </div>

        <div class="k-edit-label"><label for="lastName">Last Name</label></div>
        <div data-container-for="lastName" class="k-edit-field">
            <input name="lastName" type="text" class="k-input k-textbox" data-bind="value:lastName">
        </div>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input name="title" type="text" class="k-input k-textbox" data-bind="value:title">
        </div>

        <div class="k-edit-label"><label for="emailAddress">Email</label></div>
        <div data-container-for="emailAddress" class="k-edit-field">
            <input name="emailAddress" type="text" class="k-input k-textbox" data-bind="value:emailAddress">
        </div>

        <div class="k-edit-label"><label for="alternateEmail">Alternate Email</label></div>
        <div data-container-for="alternateEmail" class="k-edit-field">
            <input name="alternateEmail" type="text" class="k-input k-textbox" data-bind="value:alternateEmail">
        </div>

        <div class="k-edit-label"><label for="hireDate">Hire Date</label></div>
        <div data-container-for="hireDate" class="k-edit-field">
            <input type="text" name="hireDate"
                   data-type="date" data-bind="value:hireDate"
                   data-role="datepicker" class="k-input" role="combobox">
        </div>

        <div class="k-edit-label"><label for="termDate">Term Date</label></div>
        <div data-container-for="termDate" class="k-edit-field">
            <input type="text" name="termDate" data-type="date" data-bind="value:termDate"
                   data-role="datepicker" class="k-input" role="combobox">
        </div>

        <div class="k-edit-label"><label for="voicemailPasscode">Voicemail Passcode</label></div>
        <div data-container-for="voicemailPasscode" class="k-edit-field">
            <input name="voicemailPasscode" type="text" class="k-input k-textbox" data-bind="value:voicemailPasscode">
        </div>

        <div class="k-edit-label"><label for="maxClientLoad">Max Client Load</label></div>
        <div class="k-edit-field">
            <input name="maxClientLoad" type="number" class="k-textbox k-input" data-bind="value:maxClientLoad">
        </div>

        <div class="k-edit-label"><label for="currentClientLoad">Actual Client Load</label></div>
        <div class="k-edit-field">
            <input readonly name="currentClientLoad" type="number" class="k-textbox k-input"
                   data-bind="value:currentClientLoad">
        </div>

        <div class="k-edit-label"><label for="clientsLost">Clients Lost</label></div>
        <div class="k-edit-field">
            <input readonly name="clientsLost" type="number" class="k-textbox k-input"
                   data-bind="value:clientsLost">
        </div>
        
        <div class="k-edit-label"><label for="salary">Salary</label></div>
        <div class="k-edit-field">
            <input name="salary" type="number" class="k-textbox k-input" data-bind="value:salary">
        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">

        <div class="k-edit-label"><label for="esaLocalPhone">ESA Local Phone</label></div>
        <div data-container-for="esaLocalPhone" class="k-edit-field">
            <input name="esaLocalPhone" type="text" class="k-input k-textbox" data-bind="value:esaLocalPhone">
        </div>

        <div class="k-edit-label"><label for="esaExtension">ESA Extension</label></div>
        <div data-container-for="esaExtension" class="k-edit-field">
            <input name="esaExtension" type="text" class="k-input k-textbox" data-bind="value:esaExtension">
        </div>

        <div class="k-edit-label"><label for="esaTollFree">ESA Toll Free Phone</label></div>
        <div data-container-for="esaTollFree" class="k-edit-field">
            <input name="esaTollFree" type="text" class="k-input k-textbox" data-bind="value:esaTollFree">
        </div>

        <div class="k-edit-label"><label for="nonEsaBusinessPhone">Non-ESA Business Phone</label></div>
        <div data-container-for="nonEsaBusinessPhone" class="k-edit-field">
            <input name="nonEsaBusinessPhone" type="text" class="k-input k-textbox"
                   data-bind="value:nonEsaBusinessPhone">
        </div>

        <div class="k-edit-label"><label for="workFax">Work Fax</label></div>
        <div data-container-for="workFax" class="k-edit-field">
            <input name="workFax" type="text" class="k-input k-textbox" data-bind="value:workFax">
        </div>

        <div class="k-edit-label"><label for="mobilePhone">Mobile Phone</label></div>
        <div data-container-for="mobilePhone" class="k-edit-field">
            <input name="mobilePhone" type="text" class="k-input k-textbox" data-bind="value:mobilePhone">
        </div>

        <div class="k-edit-label"><label for="homePhone">Home Phone</label></div>
        <div data-container-for="homePhone" class="k-edit-field">
            <input name="homePhone" type="text" class="k-input k-textbox" data-bind="value:homePhone">
        </div>

        <div class="k-edit-label"><label for="emergencyPhone">Emergency Phone</label></div>
        <div data-container-for="emergencyPhone" class="k-edit-field">
            <input name="emergencyPhone" type="text" class="k-input k-textbox" data-bind="value:emergencyPhone">
        </div>

        <div class="k-edit-label"><label for="homeStreet">Home Address</label></div>
        <div data-container-for="homeStreet" class="k-edit-field">
            <input name="homeStreet" type="text" class="k-input k-textbox" data-bind="value:homeStreet">
        </div>

        <div class="k-edit-label"><label for="homeCity">Home City, State, Zip Code</label></div>
        <div data-container-for="homeCity" class="k-edit-field">
            <input name="homeCity" type="text" class="k-input k-textbox" data-bind="value:homeCity">
        </div>
        <div data-container-for="homeState" class="k-edit-field">
            <input name="homeState" type="text" class="k-input k-textbox" data-bind="value:homeState">
        </div>
        <div data-container-for="homeZip" class="k-edit-field">
            <input name="homeZip" type="text" class="k-input k-textbox" data-bind="value:homeZip">
        </div>

        <div class="k-edit-label"><label for="birthDate">Birthday</label></div>
        <div data-container-for="birthDate" class="k-edit-field">
            <input type="text" name="birthDate"
                   data-type="date" data-bind="value:birthDate"
                   data-role="datepicker" class="k-input" role="combobox">
        </div>

        <div class="k-edit-label"><label for="additionalInfo">Additional Information</label></div>
        <div data-container-for="additionalInfo" class="k-edit-field">
            <textarea name="additionalInfo" type="text" class="k-input k-textbox"
                      data-bind="value:additionalInfo"></textarea>
        </div>

        <div class="k-edit-label"><label for="xxx_esaUsername">ESA Username</label></div>
        <div data-container-for="xxx_esaUsername" class="k-edit-field">
            <input name="xxx_esaUsername" type="text" class="k-input k-textbox" data-bind="value:xxx_esaUsername">
        </div>

        <div class="k-edit-label"><label for="xxx_esaPassword">ESA Password</label></div>
        <div data-container-for="xxx_esaPassword" class="k-edit-field">
            <input readonly name="xxx_esaPassword" type="text" class="k-input k-textbox" data-bind="value:xxx_esaPassword">
        </div>

        <!--<div class="k-edit-label"><label for="lastLogin">Last Login</label></div>-->
        <!--<div data-container-for="voicemailPasscode" class="k-edit-field">-->
        <!--<input readonly name="voicemailPasscode" type="text" class="k-input k-textbox" data-bind="value:voicemailPasscode">-->
        <!--</div>-->

        <!--<div class="k-edit-label"><label for="loginCount">Login Count</label></div>-->
        <!--<div data-container-for="voicemailPasscode" class="k-edit-field">-->
        <!--<input name="voicemailPasscode" type="text" class="k-input k-textbox" data-bind="value:voicemailPasscode">-->
        <!--</div>-->

    </div>

</div>

<script>
    $(document).ready(function () {

        // Formatting
        console.log('editPortalEmployeePopup:js:');

    });
</script>


