<div class="esa-edit-popup">
    <ul class="nav nav-tabs" id="clientTab" style="margin: 4px;">
        <li><a data-toggle="tab" href="#contactInfo">Contact Info</a></li>
        <li class="active"><a data-toggle="tab" href="#serviceInfo">Service Info</a></li>
    </ul>
    <div class="row tab-content">
        <div class="tab-pane fade" id="contactInfo" style="margin-top: 10px;">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">
            <div class="k-edit-label"><label for="companyID">Id</label></div>
            <div class="k-edit-field">
                <input name="companyID" type="text" class="k-textbox k-state-disabled k-input"
                       data-bind="value:companyID"
                       readonly>
            </div>

            <div class="k-edit-label"><label for="branchID">Corporate Branch</label></div>
            <div data-container-for="branchID" class="k-edit-field">
                <input name="branchID" data-value-field="value" data-text-field="text"
                       data-bind="value:branchID" data-role="dropdownlist"
                       data-source="[
                    {text: 'ESA Scheduling Services', value:1},
                    {text: 'OS Scheduling Services', value:2}
                    ]"/>
            </div>

            <div class="k-edit-label"><label for="clientCompany">Company Name</label></div>
            <div data-container-for="clientCompany" class="k-edit-field">
                <input name="clientCompany" type="text" class="k-input k-textbox" data-bind="value:clientCompany">
            </div>

            <div class="k-edit-label"><label for="companyProfile">Company Profile</label></div>
            <div data-container-for="companyProfile" class="k-edit-field">
            <textarea name="companyProfile" type="text" class="k-input k-textbox"
                      data-bind="value:companyProfile"></textarea>
            </div>

            <div class="k-edit-label"><label for="contactFirstName">Primary Contact Name</label></div>
            <div data-container-for="contactFirstName" class="k-edit-field">
                <input name="contactFirstName" type="text" class="k-input k-textbox" data-bind="value:contactFirstName">
            </div>
            <div data-container-for="contactLastName" class="k-edit-field">
                <input name="contactLastName" type="text" class="k-input k-textbox" data-bind="value:contactLastName">
            </div>

            <div class="k-edit-label"><label for="contactPhone">Primary Contact Phone</label></div>
            <div data-container-for="contactPhone" class="k-edit-field">
                <input name="contactPhone" type="text" class="k-input k-textbox" data-bind="value:contactPhone">
            </div>

            <div class="k-edit-label"><label for="contactAddress">Company Profile</label></div>
            <div data-container-for="contactAddress" class="k-edit-field">
            <textarea name="contactAddress" type="text" class="k-input k-textbox"
                      data-bind="value:contactAddress"></textarea>
            </div>

            <div class="k-edit-label"><label for="contactCity">City</label></div>
            <div data-container-for="contactCity" class="k-edit-field">
                <input name="contactCity" type="text" class="k-input k-textbox" data-bind="value:contactCity">
            </div>

            <div class="k-edit-label"><label for="contactState">State</label></div>
            <div data-container-for="contactState" class="k-edit-field">
                <input name="contactState" type="text" class="k-input k-textbox" data-bind="value:contactState">
            </div>

            <div class="k-edit-label"><label for="contactZip">Zip Code</label></div>
            <div data-container-for="contactZip" class="k-edit-field">
                <input name="contactZip" type="text" class="k-input k-textbox" data-bind="value:contactZip">
            </div>

            <div class="k-edit-label"><label for="contactEmail">Primary Contact Email</label></div>
            <div data-container-for="contactEmail" class="k-edit-field">
                <input name="contactEmail" type="text" class="k-input k-textbox" data-bind="value:contactEmail">
            </div>

            <div class="k-edit-label"><label for="keyPeople">Key People/Decision Makers</label></div>
            <div data-container-for="keyPeople" class="k-edit-field">
            <textarea name="keyPeople" type="text" class="k-input k-textbox"
                      data-bind="value:keyPeople"></textarea>
            </div>

        </div>

        </div>
        <div class="tab-pane fade in active" id="serviceInfo" style="margin-top: 10px;">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">

            <div class="k-edit-label"><label for="industry">Industry</label></div>
            <div data-container-for="industry" class="k-edit-field">
                <input id="industry" data-value-field="value" data-text-field="value"
                       data-bind="value:industry" data-role="dropdownlist"
                       data-source="[
                        {value: 'Financial Industry'},
                        {value: 'Insurance'},
                        {value: 'Pharmaceutical'},
                        {value: 'Real Estate'},
                        {value: 'Other'}
                        ]"/>
            </div>
            <div class="k-edit-label"><label for="stageOfSale">Stage of Sale</label></div>
            <div data-container-for="stageOfSale" class="k-edit-field">
                <input id="stageOfSale" data-value-field="value" data-text-field="value"
                       data-bind="value:stageOfSale" data-role="dropdownlist"
                       data-source="[
                        {value: '0 - Lost'},
                        {value: '1 - Prospect'},
                        {value: '2 - Qualified'},
                        {value: '3 - In Process'},
                        {value: '4 - Pending'},
                        {value: '5 - Closed (Approved)'},
                        {value: '6 - Closed (Contracted)'}
                        ]"/>
            </div>

            <div class="k-edit-label"><label for="totalClientOpportunity">Total Client Opportunity (TCO)</label></div>
            <div data-container-for="totalClientOpportunity" class="k-edit-field">
                <input name="totalClientOpportunity" type="text" class="k-input k-textbox"
                       data-bind="value:totalClientOpportunity">
            </div>

            <div class="k-edit-label"><label for="actualClients">Actual Clients</label></div>
            <div data-container-for="actualClients" class="k-edit-field">
                <input name="actualClients" type="text" class="k-input k-textbox"
                       data-bind="value:actualClients">
            </div>

            <div class="k-edit-label"><label for="leadDate">Lead Date</label></div>
            <div data-container-for="leadDate" class="k-edit-field">
                <input type="text" name="leadDate"
                       data-type="date" data-bind="value:leadDate"
                       data-role="datepicker" class="k-input" role="combobox">
            </div>

            <div class="k-edit-label"><label for="expectedCloseDat">Expected Close Date</label></div>
            <div data-container-for="expectedCloseDat" class="k-edit-field">
                <input type="text" name="expectedCloseDat"
                       data-type="date" data-bind="value:expectedCloseDat"
                       data-role="datepicker" class="k-input" role="combobox">
            </div>

            <div class="k-edit-label"><label for="actualCloseDate">Actual Close Date</label></div>
            <div data-container-for="actualCloseDate" class="k-edit-field">
                <input type="text" name="actualCloseDate"
                       data-type="date" data-bind="value:actualCloseDate"
                       data-role="datepicker" class="k-input" role="combobox">
            </div>

            <div class="k-edit-label"><label for="startDate">System Start Date</label></div>
            <div data-container-for="startDate" class="k-edit-field">
                <input type="text" name="startDate"
                       data-type="date" data-bind="value:startDate"
                       data-role="datepicker" class="k-input" role="combobox">
            </div>

            <div class="k-edit-label"><label for="systemCRM_Name">CRM System Name</label></div>
            <div data-container-for="systemCRM_Name" class="k-edit-field">
                <input name="systemCRM_Name" type="text" class="k-input k-textbox" data-bind="value:systemCRM_Name">
            </div>

            <div class="k-edit-label"><label for="systemCRM_URL">CRM System URL</label></div>
            <div data-container-for="systemCRM_URL" class="k-edit-field">
                <input name="systemCRM_URL" type="text" class="k-input k-textbox" data-bind="value:systemCRM_URL">
            </div>

            <div class="k-edit-label"><label for="systemEmail_Name">Email System Name</label></div>
            <div data-container-for="systemEmail_Name" class="k-edit-field">
                <input name="systemEmail_Name" type="text" class="k-input k-textbox"
                       data-bind="value:systemEmail_Name">
            </div>

            <div class="k-edit-label"><label for="systemEmail_URL">Email System URL</label></div>
            <div data-container-for="systemEmail_URL" class="k-edit-field">
                <input name="systemEmail_URL" type="text" class="k-input k-textbox"
                       data-bind="value:systemEmail_URL">
            </div>

            <div class="k-edit-label"><label for="taskTracking">Task Tracking</label></div>
            <div data-container-for="taskTracking" class="k-edit-field">
                <input name="taskTracking" data-value-field="value" data-text-field="text"
                       data-bind="value:taskTracking" data-role="dropdownlist"
                       data-source="[
                    {text: 'Yes', value: 'true'},
                    {text: 'No', value: 'false'}
                    ]"/>
            </div>
        </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            // Formatting
            console.log('editProgressCompanyPopup:js:');

        });
    </script>


