<div class="esa-edit-popup">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="min-width: 300px;">
        <div class="k-edit-label"><label>Id</label></div>
        <div class="k-edit-field">
            <input name="messageID" type="text" class="k-textbox k-state-disabled k-input"
                   data-bind="value:messageID"
                   readonly>
        </div>

        <div class="k-edit-label"><label>Message Text</label></div>
        <div data-container-for="messageText" class="k-edit-field">
            <textarea name="messageText" type="text" class="k-input k-textbox"
                      data-bind="value:messageText" style="min-height: 175px;min-width:300px"></textarea>
        </div>


        <div class="k-edit-label"><label>Message Date</label></div>
        <div data-container-for="messageDate" class="k-edit-field">
            <!--<input type="text" name="messageDate"-->
                   <!--data-type="date" data-bind="value:messageDate"-->
                   <!--data-role="datepicker" class="k-input" role="combobox">-->
            <input name="messageDate" type="text" class="k-textbox k-input"
                   data-bind="value:messageDate">
        </div>


    </div>
</div>
<script>
    $(document).ready(function () {

        // Formatting
        console.log('editMessagePopup:js:');

    });
</script>


