<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">

        <div class="k-edit-label"><label for="vendorID">Id</label></div>
        <div class="k-edit-field">
            <input name="vendorID" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:vendorID"
                   readonly>
        </div>

        <div class="k-edit-label"><label for="company">Company Name</label></div>
        <div data-container-for="company" class="k-edit-field">
            <input name="company" type="text" class="k-input k-textbox" data-bind="value:company">
        </div>

        <div class="k-edit-label"><label for="category">Category</label></div>
        <div data-container-for="category" class="k-edit-field">
            <input name="category" type="text" class="k-input k-textbox" data-bind="value:category">
        </div>


        <div class="k-edit-label"><label for="contactFirstName">Contact First Name</label></div>
        <div data-container-for="contactFirstName" class="k-edit-field">
            <input name="contactFirstName" type="text" class="k-input k-textbox" data-bind="value:contactFirstName">
        </div>

        <div class="k-edit-label"><label for="contactLastName">Contact Last Name</label></div>
        <div data-container-for="contactLastName" class="k-edit-field">
            <input name="contactLastName" type="text" class="k-input k-textbox" data-bind="value:contactLastName">
        </div>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input name="title" type="text" class="k-input k-textbox" data-bind="value:title">
        </div>

        <div class="k-edit-label"><label for="email">Email</label></div>
        <div data-container-for="email" class="k-edit-field">
            <input name="email" type="text" class="k-input k-textbox" data-bind="value:email">
        </div>

        <div class="k-edit-label"><label for="webAddress">Web Address</label></div>
        <div data-container-for="webAddress" class="k-edit-field">
            <input name="webAddress" type="text" class="k-input k-textbox" data-bind="value:webAddress">
        </div>

        <div class="k-edit-label"><label for="additionalInfo">Additional Information</label></div>
        <div data-container-for="additionalInfo" class="k-edit-field">
            <textarea name="additionalInfo" type="text" class="k-input k-textbox"
                      data-bind="value:additionalInfo"></textarea>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">

        <div class="k-edit-label"><label for="workPhone">Work Phone</label></div>
        <div data-container-for="workPhone" class="k-edit-field">
            <input name="workPhone" type="text" class="k-input k-textbox" data-bind="value:workPhone">
        </div>

        <div class="k-edit-label"><label for="workStreet">Street</label></div>
        <div data-container-for="workStreet" class="k-edit-field">
            <input name="workStreet" type="text" class="k-input k-textbox" data-bind="value:workStreet">
        </div>

        <div class="k-edit-label"><label for="workCity">City</label></div>
        <div data-container-for="workCity" class="k-edit-field">
            <input name="workCity" type="text" class="k-input k-textbox" data-bind="value:workCity">
        </div>

        <div class="k-edit-label"><label for="workState">State</label></div>
        <div data-container-for="workState" class="k-edit-field">
            <input name="workState" type="text" class="k-input k-textbox" data-bind="value:workState">
        </div>

        <div class="k-edit-label"><label for="workZip">Zip</label></div>
        <div data-container-for="workZip" class="k-edit-field">
            <input name="workZip" type="text" class="k-input k-textbox" data-bind="value:workZip">
        </div>

        <div class="k-edit-label"><label for="workFax">Fax</label></div>
        <div data-container-for="workFax" class="k-edit-field">
            <input name="workFax" type="text" class="k-input k-textbox" data-bind="value:workFax">
        </div>

        <div class="k-edit-label"><label for="homePhone">Home Phone</label></div>
        <div data-container-for="homePhone" class="k-edit-field">
            <input name="homePhone" type="text" class="k-input k-textbox" data-bind="value:homePhone">
        </div>

        <div class="k-edit-label"><label for="mobilePhone">Mobile Phone</label></div>
        <div data-container-for="mobilePhone" class="k-edit-field">
            <input name="mobilePhone" type="text" class="k-input k-textbox" data-bind="value:mobilePhone">
        </div>

    </div>

</div>

<script>
    $(document).ready(function () {

        // Formatting
        console.log('editPortalVendorPopup:js:');


    });
</script>


