<div class="esa-edit-popup">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="min-width: 300px;">

        <span id="idGroup">
        <div class="k-edit-label"><label for="ID">Id</label></div>
        <div class="k-edit-field">
            <input name="ID" type="text" class="k-textbox k-state-disabled k-input"
                   data-bind="value:ID"
                   readonly>
        </div>
         </span>

        <div class="k-edit-label"><label for="shortText">Name</label></div>
        <div data-container-for="shortText" class="k-edit-field">
            <input name="shortText" type="text" class="k-input k-textbox" data-bind="value:shortText">
        </div>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input name="title" type="text" class="k-input k-textbox"
                   data-bind="value:title"
                   style="width: 300px">
        </div>

        <div class="k-edit-label"><label for="text">Text</label></div>
        <div data-container-for="text" class="k-edit-field">
             <textarea name="text" type="text" class="k-input k-textbox"
                       data-bind="value:text"
                       style="width: 300px;height: 100px"
             ></textarea>
        </div>

        <div class="k-edit-label"><label for="text2">Fun Fact</label></div>
        <div data-container-for="text2" class="k-edit-field">
            <textarea name="text2" type="text" class="k-input k-textbox"
                      data-bind="value:text2" style="width: 300px;height: 100px"></textarea>
        </div>

        <div class="k-edit-label"><label for="fileName">Photo</label></div>
        <div id="fileNameContainer" name="fileNameContainer" data-container-for="fileName" class="k-edit-field">
            <input name="files" id="files" type="file" aria-label="files"/>
        </div>

        <div class="k-edit-label"><label for="subCategory">Role</label></div>
        <div name="subCategory" data-container-for="subCategory" class="k-edit-field">
            <input  id="subCategory" data-value-field="value" data-text-field="text"
                   data-bind="value:subCategory" data-role="dropdownlist"
                   data-source="[
                    {text: 'Corporate Leadership', value: 0},
                    {text: 'Executive Team', value: 1},
                    {text: 'Senior Management', value: 2},
                    {text: 'Account Managers', value: 3},
                    {text: 'Assistant Account Managers', value: 4},
                    {text: 'Employees', value: 5}
                ]"
            />
        </div>

        <div class="k-edit-label"><label for="timeStamp">Time Stamp</label></div>
        <div data-container-for="timeStamp" class="k-edit-field">
            <input type="text" name="timeStamp"
                   data-type="date" data-bind="value:timeStamp"
                   data-role="datepicker" class="k-input" role="combobox">
        </div>

        <div class="k-edit-label"><label for="showAsCompanyMessage">Show?</label></div>
        <div data-container-for="showAsCompanyMessage" class="k-edit-field">
            <input name="showAsCompanyMessage" data-value-field="value" data-text-field="text"
                   data-bind="value:showAsCompanyMessage" data-role="dropdownlist"
                   data-source="[
                    {text: 'Yes', value: 'true'},
                    {text: 'No', value: 'false'}
                    ]"/>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none row" style="text-align: center !important;">
    <div id="startWarning" class="alert-warning " role="alert"
         style="display: block; float:none;"></div>
    <div id="startSuccess" class="alert-success " role="alert"
         style="display: block; float:none;"></div>
    <div id="startError" class="alert-danger " role="alert"
         style="display: block; float:none;"></div>
</div>


<script>

    $(document).ready(function () {
        console.log('editPortalAdminBioDataPopup:document ready');
    });

</script>


