<div class="contact-info">
    <div id="loadingContactInfo"></div>
    <p><strong>Employee</strong><a href="#editEmployee"><span id="employee" class="pull-right"></span></a></p>
    <p><strong>ESA Local Phone:</strong> <span id="esaLocalPhone" class="pull-right"></span></p>
    <p><strong>ESA Toll Free Phone:</strong> <span id="esaTollFreePhone" class="pull-right"></span></p>
    <p><strong>Home Phone:</strong> <span id="homePhone" class="pull-right"></span></p>
    <p><strong>Mobile Phone:</strong> <span id="mobilePhone" class="pull-right"></span></p>
    <p><strong>Email:</strong> <a href="#"
                                  class="pull-right"
                                  id="email"></a></p>
    <p><strong>App Passcode:</strong> <span id="appPasscode" class="pull-right"></span></p>
    <p><strong>Voicemail Passcode:</strong> <span id="passcode" class="pull-right"></span></p>
    <p><strong>Status:</strong> <span id="status" class="pull-right"></span></p>
    <p><strong>Timer Status:</strong> <span id="timerStatus" class="pull-right"></span></p>
    <p><strong>Additional Information:</strong> <span id="additionalInfo" class="pull-right"></span></p>
</div>