<div class="container-tile-layout" style="overflow: hidden;">
    <!--class="content-wrapper"-->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee Profile
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home </a>
                &nbsp;>&nbsp;
                <a id="page">Employee Profile</a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="height:calc(100% - 41px);overflow: auto;">
        <div class="row">
            <div class="col-xs-7">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Contact Info</h3>
                    </div>
                    <div class="box-body">
                        <div id="tile-employee-contact-info" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Employee Files</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <div id="tile-employee-files" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->


            </div>
            <div class="col-xs-5">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Employee Notes</h3>
                    </div>
                    <div class="box-body">
                        <div id="tile-employee-notes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                   </div>
                </div>
            </div>
        </div>
    </section>
</div>
