<div class="container-tile-layout" style="overflow: hidden;">
    <div id="sub-header"></div>
    <section id="dashboard-section" class="content esa-section" style="height:calc(100% - 65px);overflow: auto;">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div id="esa-media" style="width: 100%; height: 100%; position: relative; overflow: auto;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
