<div>
<div class="media">
    <div class="media-left">
        <img id="image" class="media-object" src="./img/ESA Media Default.png" alt="...">
    </div>
    <div class="media-body">
        <h4 id="title"class="media-heading">U.S. Unemployment Rate Fell to 11.1% in June</h4>
        <p id="timeStamp" class="small">Date posted: June 30, 2020</p>
        <p id="text">The Wall Street Journal, July 2, 2020 - The <a href="https://www.bls.gov/news.release/pdf/empsit.pdf" target="_blank">jobless rate fell to 11.1%</a> in June as the U.S. regained 4.8 million jobs, continuing a labor market rebound from the economic shock caused by the coronavirus pandemic.</p>
        <!--<p id="text2">Job growth in June followed May’s payroll gain of 2.7 million and showed people are getting back to work faster than anticipated. Still, the U.S. labor market is operating with about 15 million fewer jobs than in February, the month before the pandemic struck the U.S. economy, and a <a href="https://www.wsj.com/articles/coronavirus-latest-news-07-02-2020-11593675909?mod=hp_lead_pos2" target="_blank">recent coronavirus rise</a> could hamper the job market’s recovery.</p>-->
        <p><a id="listen" href="#" data-toggle="modal" data-target="#modal-default"><span id="avCaption">Listen to Audio</span></a></p>
    </div>
</div>
<hr>
</div>
