<div class="container-tile-layout" style="overflow: hidden;">
    <div id="sub-header"></div>
    <section class="content" style="background-color: #ecf0f5;height:calc(100% - 65px);overflow: auto;">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 id="widgetTitle" class="box-title">Time</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-12 col-md-4 col-lg-3 p-xs">
                    <div id="tile-1a" class="col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    <!--<div id="tile-1b" class="col-sm-12 col-md-12 col-lg-12 p-xs"></div>-->
                </div>
                <div id="tile-1" class="col-sm-12 col-md-8 col-lg-9 p-xs"></div>
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 id="widgetTitle2" class="box-title">Tasks</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-12 col-md-4 col-lg-3 p-xs">
                    <div id="tile-2a" class="col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    <!--<div id="tile-2b" class="col-sm-12 col-md-12 col-lg-12 p-xs"></div>-->
                </div>
                <div id="tile-2" class="col-sm-12 col-md-8 col-lg-9 p-xs"></div>
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 id="widgetTitle3" class="box-title">Meetings</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-12 col-md-4 col-lg-3 p-xs">
                    <div id="tile-3a" class="col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                    <!--<div id="tile-3b" class="col-sm-12 col-md-12 col-lg-12 p-xs"></div>-->
                </div>
                <div id="tile-3" class="col-sm-12 col-md-8 col-lg-9 p-xs"></div>
            </div>
        </div>
    </section>
</div>
