<div class="container-tile-layout" style="overflow: hidden;">
    <div id="sub-header"></div>
    <section id="dashboard-section" class="content esa-section" style="height:calc(100% - 65px);overflow: auto;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="viewNotificationsTile" class="box box-default view-notifications-box">
                <div class="box-header with-border view-notifications-box">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Notifications</h3>
                    <div class="box-tools pull-right">
                        <button id="viewNotificationsButtonCollapse" class="btn btn-box-tool" data-widget="collapse"><i
                                id="viewNotificationsIconCollapse" class="fa fa-minus"></i></button>
                        <button id="viewNotificationsButtonRemove" class="btn btn-box-tool" data-widget="remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!--<div id="alert-open-timer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs hidden"></div>-->
                    <!--<div id="alert-message" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs hidden"></div>-->
                    <!--<div id="alert-value" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>-->
                    <div id="alert-tips" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-default view-company-stats-box">
                <div class="box-header with-border view-company-stats-box">
                    <h3 class="box-title">Company Stats</h3>
                    <div class="box-tools pull-right">
                        <button id="viewCompanyStatsButtonCollapse" class="btn btn-box-tool" data-widget="collapse"><i
                                id="viewCompanyStatsIconCollapse" class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div id="tile-1" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <!-- <div id="tile-2" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-3" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>

                    <div id="tile-4" class="col-sm-6 col-md-6 col-lg-3 p-xs"></div>-->

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px;">
                        <div class="small-box bg-blue" style="margin-bottom: 0px !important">
                            <a id="OpenDetails" class="small-box-footer">More info <i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-default view-team-personal-stats-box">
                <div class="box-header with-border view-team-personal-stats-box">
                    <h3 class="box-title">Team and Personal Stats</h3>
                    <div class="box-tools pull-right">
                        <button id="viewTeamPersonalStatsButtonCollapse" class="btn btn-box-tool"
                                data-widget="collapse"><i id="viewTeamPersonalStatsIconCollapse"
                                                          class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="tile-6" class="col-sm-6 col-md-6 col-lg-4 p-xs"></div>

                    <!-- <div id="tile-8" class="col-sm-6 col-md-6 col-lg-4 p-xs"></div> -->

                    <div id="tile-13" class="col-sm-6 col-md-6 col-lg-4 p-xs"></div>

                    <div id="tile-12" class="col-sm-6 col-md-6 col-lg-4 p-xs"></div>
                </div>
            </div>

        </div>
        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
        <!--Team Meeting Bar Chart (tile 5)-->
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs">
            <div class="box box-default view-team-meeting-perc-box">
                <div class="box-header with-border view-team-meeting-perc-box">
                    <h3 class="box-title">Team Meeting Percentage</h3>
                    <div class="box-tools pull-right">
                        <div style="display:none">
                            <div class="btn" disabled style="padding-right:0px;font-size:12px"><span>Comp Time</span>
                            </div>
                            <div class="btn btn-box-tool" style="padding-right:60px;">
                                <input type="checkbox" class="toggleCheckBox" id="toggleCompTime" name="" value="">
                                <div class="toggle" title="Don't Show Comp Time">
                                    <label for="toggleCompTime"><i></i></label>
                                </div>
                            </div>
                        </div>

                        <button id="viewTeamMeetingPercButtonCollapse" class="btn btn-box-tool" data-widget="collapse">
                            <i id="viewTeamMeetingPercIconCollapse" class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="tile-5" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs"></div>
                </div>
            </div>
        </div> -->
        <!--</div>-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Timer Widget-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 p-xs">
                <div id="tile-10"></div>
            </div>

            <!--Phone Directory-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 p-xs">
                <div id="tile-11"></div>
            </div>
        </div>

        <!--My Clients grid-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--style="height: 100%;"-->
            <div class="row m-none">
                <div class="box box-default view-my-clients-box">
                    <div class="box-header with-border view-my-clients-box">
                        <h3 class="box-title">My Clients</h3>
                        <!--Active-->
                        <div class="box-tools pull-right">
                            <button id="viewMyClientsButtonCollapse" class="btn btn-box-tool" data-widget="collapse"><i
                                    id="viewMyClientsIconCollapse" class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="padding-bottom: 10px !important">
                        <div id="tile-9"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
