<div class="file-row tr">
    <div class="td file-group" id="fileName"></div>
    <div class="td file-group2" id="fileDate"></div>
    <div class="td file-group2"><a id="fileView" href="#" >View</a></div>
    <!--<div class="td file-group2"><a id="fileSend" >Send</a></div>-->
    <div class="td file-group2"><a id="fileDelete">Delete</a></div>
</div>