<div>
    <div id="loadingFiles"></div>
    <table class="table table-hover">
        <tr>
            <th>File Name</th>
            <th>Date</th>
            <th>View</th>
            <th>Send</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>filename.ext</td>
            <td>2015/10/10</td>
            <td><a href="#">View</a></td>
            <td><a href="#">Send</a></td>
            <td><a href="#">Delete</a></td>
        </tr>

        <tr>
            <td>filename.ext</td>
            <td>2015/10/10</td>
            <td><a href="#">View</a></td>
            <td><a href="#">Send</a></td>
            <td><a href="#">Delete</a></td>
        </tr>

        <tr>
            <td>filename.ext</td>
            <td>2015/10/10</td>
            <td><a href="#">View</a></td>
            <td><a href="#">Send</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
    </table>
</div>