<div class="file-row tr">
    <div class="td file-group" id="fileName"><b>File Name</b></div>
    <div class="td file-group2" id="fileDate"><b>Date</b></div>
    <div class="td file-group2"><b>View</b></div>
    <!--<div class="td file-group2"><b>Send</b></div>-->
    <div class="td file-group2"><b>Delete</b></div>
</div>