<div>
    <div id="loadingFileWidget"></div>
    <!--<div class="box-tools">-->
    <!--<div class="input-group" style="width: 100px;">-->
    <!--<button id="newFileButton" class="btn btn-primary btn-sm btn-block">-->
    <!--<i class="fa fa-plus-circle margin-r-5"></i> <b>Add File</b>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <div id="noDropZone" class="row m-none" style="height: 100%; width: 100%; padding:10px 10px 10px 10px;">
        <div id="dragDropHandler" title="Drag the file to upload and drop them here" style="height: 100%; width: 100%;
            border:2px dotted #0B85A1;
            color:#92AAB0;
            background-color: #fafafa;
            text-align:center; vertical-align:middle;
            font-size:300%;">
            <div id="dropFileHereLabel" style="text-align:center;
                position: relative; top: 50%; ">Drag & Drop File Here
            </div>
            <!--transform: translateY(-50%);-->
        </div>
        <div id="fileSuccess" class="alert-success " role="alert" style="display: block; float:inherit;"></div>
        <div id="fileError" class="alert-danger " role="alert" style="display: block; float:inherit;"></div>
    </div>
    <div id="fileCollectionViewLoading"></div>
    <div class="box-body table-responsive no-padding">
        <div class="table table-hover" id="file-list" style="width: 100%;height:350px; position: relative; overflow: auto;">
        </div>
    </div>

</div>