<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.2.1.30
    </div>
    <strong>Copyright © 2025 <a href="http://esasolutions.net">ESA</a>.</strong> All rights reserved.
</footer>