<div style="height:100%">
    <div id="loadingCalloutWidget"></div>
    <div id="calloutWidget" class="content-wrapper" style="display:flow-root; margin-bottom:0px !important;">
        <!--<button id="closeAlert" type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs">
        <h4>
            <span id="alertHeader">Header</span>
        </h4>
        </div>
        <div class="row">
        <h5>
            <span id="alertText">Alert Text</span>
        </h5>
       </div>
    </div>
</div>
