<header class="main-header" style="font-size:14px">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>ESA</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
            <b>ESA</b>Portal
            <!--<img class="app-image" src="./images/ESA-Logo-Stacked-White.png"/>-->
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a id="toggleMenu" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <!--data-toggle="control-sidebar"-->
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- Company: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle esa-header-link" data-toggle="dropdown" title="Company Information">
                        <span class="hidden-md hidden-sm hidden-xs">Company Information&nbsp;</span>
                        <i class="fa fa-building hidden-lg"></i>
                    </a>
                    <ul class="dropdown-menu"
                        style="
                        border-color: transparent !important;
                        border-radius: 4px !important;"
                    >
                        <li class="user-header" style="text-align: left">
                            <p>
                                Executive Scheduling Associates
                                <small>Toll Free: 877-315-3689</small>
                                <small>Fax: 530-605-1035</small>
                                <small>Website: www.esasolutions.com</small>
                                <small>Mailing Address:</small>
                                <small>215 Lake Blvd., Suite 367</small>
                                <small>Redding, CA 96003</small>
                            </p>
                        </li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <div id="loadingUserImage"></div>
                    <a href="#" class="dropdown-toggle esa-header-link" data-toggle="dropdown" title="User Image">
                        <img id="userImage" src="./img/user-unavailable.jpg" class="user-image" alt="User Image">
                        <span id="userFullName" class="hidden-md hidden-sm hidden-xs">First Last</span>
                        <!--<i class="fa fa-user"></i>-->
                    </a>
                    <ul class="dropdown-menu"
                        style="border-color: transparent !important;
                        border-radius: 4px !important;"
                    >
                        <li class="user-header">
                            <img id="userImageLarge" src="./img/user-unavailable-text2.jpg" title="Update your profile image" class="img-circle"  alt="User Image" style="cursor:pointer">
                            <p>
                                <small id="imageInstruction">Note: Use a minimum 400x400 pixel square image</small>
                                <br>
                                <span id="firstLastName"></span>
                                <small id ="emailAddress">ESA Email</small>
                                <small id="esaLocalPhone">ESA Direct Number</small>
                                <small id="esaTollFree">Toll Free Number</small>
                                <input type="file" id="file1" style="display:none">
                            </p>
                        </li>
                    </ul>
                </li>

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle esa-header-link" data-toggle="dropdown" title="Sign Out">
                        <span id="signOut">
                            <span class="hidden-md hidden-sm hidden-xs">Sign Out</span>
                            <i class="fa fa-times hidden-lg"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section style="margin-top: 0px;">
        <div id="callback-alert" style="height: 0px"></div>
    </section>
</header>