<div style="padding-right: 4px;padding-left: 4px;">
    <hr style="margin-top: 4px;margin-bottom: 4px;">
    <strong>
        <span id="schedulerChangeTimeStamp">Year/Month/Day</span>
        <span id="historyUserName" class="pull-right">First Last</span>
    </strong>
</div>
