<div>
    <div id="loadingHistoryWidget"></div>

    <hr style="border-color:transparent">

    <div id="history-list" style="width: 100%;min-height:376px; position: relative; overflow: auto;">
    </div>

</div>