<div style="height: 100%; width: 100%;">
    <div class="home-container row m-none">
        <div id="loadingEsaUser"></div>
        <div class="login-box" style="background:#f4f4f4 !important">
            <div class="login-logo">
                <a href="http://www.esasolutions.com"><b>ESA</b>Portal</a>
            </div><!-- /.login-logo -->
            <div id="loginBox" class="login-box-body" style="background:#f4f4f4 !important">
                <p class="login-box-msg">Sign in to start your session</p>
                <div class="form-group has-feedback">
                    <input id="esaUser" type="text" class="form-control" placeholder="User Name">
                    <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                    <input id="esaPassword" type="password" class="form-control" placeholder="Password">
                    <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <a id="resetPassword" style="cursor:pointer">Reset password</a><br>
                    </div><!-- /.col -->
                    <div class="col-xs-1"></div>
                    <div class="col-xs-4">
                        <button id="esaLogin" class="btn btn-primary btn-block">Sign In</button>
                    </div><!-- /.col -->
                </div>
                <div class="row" style="text-align:center;">
                    <br>
                    <p>
                    <span>CONFIDENTIALITY EXPLANATION</span><br>
                    <span style="font-style: italic">ESA Portal information is restricted to employees only</span>
                    </p>
                    <!--<span style="font-size:10px" class=".d-none .d-xs-block">All contents of the ESA Portal website are the property of Executive<br>-->
                        <!--Scheduling Associates, Inc. (ESA). The site contains proprietary information<br>-->
                        <!--for internal use only by ESA employees. By logging into this website with your<br>-->
                        <!--username and password, you agree to keep Portal information inside ESA.-->
                    <!--</span>-->

                    <span style="font-size:10px" >All contents of the ESA Portal website are the property of Executive
                        Scheduling Associates, Inc. (ESA). The site contains proprietary information
                        for internal use only by ESA employees. By logging into this website with your
                        username and password, you agree to keep Portal information inside ESA.
                    </span>
                </div>
            </div><!-- /.login-box-body -->
            <div id="emailBox" class="login-box-body" style="background:#f4f4f4 !important;display:none">
                <p class="login-box-msg">Enter your email address</p>
                <div class="form-group has-feedback">
                    <input id="emailAddress" type="text" class="form-control" placeholder="first.last@domain.com">
                </div>
                <div class="row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button id="checkEmail" class="btn btn-primary btn-block">Verify Email</button>
                    </div><!-- /.col -->
                </div>
            </div><!-- /.logi  -->
        </div><!-- /.login-box -->
        <div class="row m-sm">
            <div id="startWarning" class="alert-warning " role="alert"
                 style="display: block; float:inherit;"></div>
            <div id="startSuccess" class="alert-success " role="alert"
                 style="display: block; float:inherit;"></div>
            <div id="startError" class="alert-danger " role="alert"
                 style="display: block; float:inherit;"></div>
        </div>
    </div>
</div>