<div id="pieChartTile" class="tile clr-bkgrnd-neutral-blue">
    <!-- Use 'clr-bkgrnd-default-light' for default state when using real data -->
    <div id="loadingPieChart"></div>

    <div class="tile-title-text">Pie Chart</div>

    <div class="tile-content">

        <!--<div class="tile-data">-->
            <!--&lt;!&ndash;<i class="fa fa-tachometer fa-7x tile-icon clr-default" style="left: -25px; bottom: -25px;"></i>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="row m-none" style="position: absolute; height: 100%; width: 100%; top:0px; padding-right: 10px; padding-left: 10px">-->
            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none" style="height: 100%">-->
                <div id="pieChart" title="" style="height: 100%;margin-left: auto;margin-right: auto; top:-8px"></div>
            <!--</div>-->
        <!--</div>-->
    </div>
</div>