<div style="height:100%;width:100%">
    <div id="loadingLeaderBoardWidget"></div>
    <div class="box box-widget" style="background-color: #f4f4f4;">
        <div class="box-header">
            <h3 id="leaderBoardTitle" class="box-title">Top 5 Title</h3>
            <!--<div class="box-tools pull-right">-->
                <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                <!--<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
            <!--</div>-->
        </div>
        <div class="box-body" style="height:154px">
            <div id="leader-list" style="width: 100%;height:100%; position: relative; overflow: auto;"></div>
        </div>
    </div>
</div>