<div style="padding-right: 4px;padding-left: 4px;">
    <span id="employeeName">First Last</span>
    <span id="mtgsPerHour" class="pull-right"></span>
    <hr style="margin-top: 4px;margin-bottom: 4px;">
</div>
