<div>
<div class="media">
    <div class="media-left">
        <img id="image" class="media-object" src="./img/Company Messages Default.png" alt="...">
    </div>
    <div class="media-body">
        <h4 id="title" class="media-heading">U.S. Unemployment Rate Fell to 11.1% in June</h4>
        <p id="timeStamp" class="small">Date posted: June 30, 2020</p>
        <p id="text">The Wall Street Journal, July 2, 2020 - The <a href="https://www.bls.gov/news.release/pdf/empsit.pdf" target="_blank">jobless rate fell to 11.1%</a> in June as the U.S. regained 4.8 million jobs, continuing a labor market rebound from the economic shock caused by the coronavirus pandemic.</p>
        <a id="externalLink" href="" target="_blank" class="btn btn-primary">
            <span id="text2">text2</span>
        </a>
    </div>
</div>
<hr>
</div>

