<div>
    <div id="loadingNoteWidget"></div>
    <div class="form-group">
        <label class="editNoteLabel">Add Note</label>
        <textarea id="editNoteText" class="form-control" rows="3" placeholder="Enter ..."></textarea>
    </div>

    <button id="EditNoteButton" class="btn btn-primary btn-block">
        <i id="editNoteIcon" class="fa fa-plus-circle margin-r-5"></i>
        <b class="editNoteLabel">Add Note</b>
    </button>

    <hr style="border-color:transparent">

    <div id="note-list" style="width: 100%;min-height:376px; position: relative; overflow: auto;">
    </div>

</div>