<div style="padding-right: 4px;padding-left: 4px;">
    <hr style="margin-top: 4px;margin-bottom: 4px;">
    <strong><i id="editNote" class="fa fa-pencil-square-o margin-r-5" style="cursor:pointer;" title="Edit Note"></i>
        <!--fa-file-text-o-->
        <span id="noteTimeStamp">Year/Month/Day</span>
        <span id="noteUserName" class="pull-right">First Last</span></strong>
    <p><span id="noteText"></span></p>
</div>
