<div style="height: 100%; width: 100%;">
    <div class="home-container row m-none">
        <div id="loadingEsaUser"></div>
        <div class="login-box" style="background:#f4f4f4 !important">
            <div class="login-logo">
                <a href="http://www.esasolutions.com"><b>ESA</b>Portal</a>
            </div><!-- /.login-logo -->
            <div class="login-box-body" style="background:#f4f4f4 !important">
                <p class="login-box-msg">Enter a new password.</p>
                <!--<form action="../../index2.html" method="post">-->
                    <div class="form-group has-feedback">
                        <input id="esaUser" type="text" class="form-control" placeholder="User Name">

                    </div>

                    <div class="form-group">
                        <input id="esaNewPassword" type="password" class="form-control" placeholder="New Password" >
                        <!--readonly onfocus="this.removeAttribute('readonly');"-->
                    </div>

                    <div class="form-group has-feedback">
                        <input id="esaConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                        <!--readonly onfocus="this.removeAttribute('readonly');"-->
                    </div>
                    <div class="row">
                        <div class="col-xs-4">

                        </div><!-- /.col -->
                        <div class="col-xs-8">
                            <button id="esaLogin" class="btn btn-primary btn-block" style="width:auto">Change Password and Sign In</button>
                        </div><!-- /.col -->

                    </div>
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
        <div class="row m-sm">
            <div id="startWarning" class="alert-warning " role="alert"
                 style="display: block; float:inherit;"></div>
            <div id="startSuccess" class="alert-success " role="alert"
                 style="display: block; float:inherit;"></div>
            <div id="startError" class="alert-danger " role="alert"
                 style="display: block; float:inherit;"></div>
        </div>
    </div>
</div>