<div style="padding-right: 4px;padding-left: 4px;">
    <span id="name">First Last</span>
    <span id="phoneExt" class="pull-right">Extension</span>
    <hr style="margin-top: 4px;margin-bottom: 4px;">
</div>
