<div style="height:100%;width:100%">
    <div id="loadingPhoneDirectoryWidget"></div>
    <div id="viewPhoneDirectoryTile" class="box box-default view-phone-directory-box">
        <div class="box-header with-border view-phone-directory-box">
            <h3 class="box-title">Phone Directory</h3>
            <div class="box-tools pull-right">
                <button id="viewPhoneDirectoryButtonCollapse" class="btn btn-box-tool" data-widget="collapse"><i id="viewPhoneDirectoryIconCollapse" class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body" style="height:221px">
            <div id="phone-list" style="width: 100%;height:100%; position: relative; overflow: auto;"></div>
        </div>
    </div>
</div>