<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>ESA</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>ESA</b>Portal</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a id="toggleMenu" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <!--data-toggle="control-sidebar"-->
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- Company: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 5px 20px">
                        <span class="hidden-md hidden-sm hidden-xs">Company Information&nbsp;</span>
                        <i class="fa fa-building"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">

                            <p>
                                Executive Scheduling Associates
                                <span style="text-align: left">
                                <small>Toll Free: 877-315-3689</small>
                                <small>Fax: 530-605-1035</small>
                                <small>Website: www.esasolutions.com</small>
                                <small>Mailing Address:</small>
                                <small>215 Lake Blvd., Suite 367</small>
                                <small>Redding, CA 96003</small>
                                </span>
                            </p>
                        </li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 5px 20px">
                        <span id="userFullName" class="hidden-md hidden-sm hidden-xs">First Last</span>
                        <i class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <!--<img src="img/mitch-160x160.jpg" class="img-circle" alt="User Image">-->
                            <p>
                                <span id="userFullName2">First Last</span>
                                <small id="emailAddress">email</small>
                                <small id="homePhone">Home Phone</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a id="userProfile" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a id="signOut" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>

</header>