<div class="container-tile-layout" style="overflow: hidden;">
    <div id="sub-header"></div>
    <section class="content esa-section" style="height:calc(100% - 70px);overflow: auto;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Holidays</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body" style="height:100%">
                    <div class="row" id="holiday-region" style="height: 270px;"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Working Days</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" style="height:100%">
                    <div class="row" id="working-day-region" style="height: 335px;"></div>
                </div>
            </div>
        </div>
    </section>
</div>