<div style="height: 100%; width: 100%;">
    <div class="panel panel-esa" style="height:100%;margin-bottom: 0px;">
        <div class="panel-body" style="height: calc(100% - 35px) !important; padding: 0px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;">
                <section class="content-header" style="padding-bottom: 15px !important;min-height:56px;">
                    <h1>
                        Industry News Admin
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home </a>
                            &nbsp;>&nbsp;
                            <a id="page">Industry News Admin</a>
                        </li>
                    </ol>
                </section>
                <div class="row" id="admin-data-region" style="height: calc(100% - 22px);"></div>
            </div>
        </div>
    </div>
</div>
