<div style="height: 100%; width: 100%;">
    <div class="panel panel-esa" style="height:100%;margin-bottom: 0px;">
        <div class="panel-body" style="height: calc(100% - 35px) !important; padding: 0px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;">
                <section class="content-header" style="padding-bottom: 15px !important">
                    <h1 style="padding-right:74px">
                        Users
                        <small>PLEASE NOTE: Do not create new user accounts for employees from here.
                        </small>
                        <small>
                            When adding a new employee, you must create the Employee record first.
                        </small>
                        <small>
                            Then use the link on the Employee form to create the User acct.</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home </a>
                            &nbsp;>&nbsp;
                            <a id="page">Users</a>
                        </li>
                    </ol>
                </section>
                <div class="row" id="user-region" style="height: calc(100% - 48px);"></div>
            </div>
        </div>
    </div>
</div>