<div style="height: 100%; width: 100%;">
    <div id="empLoading"></div>
    <div id="emp" style="height:100%; width: 100%;border-width: 1px !important;"></div>
    <script>
        Number.prototype.format = function(n, x) {
            var re = '(\\d)(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
            return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$1,');
        };
    </script>
    <script id="template" type="text/x-kendo-template">
        <a class="k-button" href="\#addNewEmployee">Add New Employee</a>
    </script>
</div>


