<div style="height: 100%; width: 100%;background:white;overflow: auto">
    <div id="loadingCompanyInfo"></div>
    <ul class="nav nav-tabs" id="companyTab" style="margin: 4px;">
        <li><a data-toggle="tab" href="#contactInfo">Contact Info</a></li>
        <li class="active"><a data-toggle="tab" href="#serviceInfo">Service Info</a></li>
    </ul>
    <div class="row tab-content">
        <div class="tab-pane fade" id="contactInfo" style="margin-top: 10px;">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">
                <div class="k-edit-label"><label for="companyID">Id</label></div>
                <div class="k-edit-field">
                    <input id="companyID" type="text" class="k-textbox k-state-disabled k-input"
                           data-bind="value:companyID"
                           readonly>
                </div>

                <div class="k-edit-label"><label for="branchID">Corporate Branch</label></div>
                <div data-container-for="branchID" class="k-edit-field">
                    <input id="branchID" data-value-field="value" data-text-field="text"
                           data-bind="value:branchID" data-role="dropdownlist"
                           />
                </div>

                <div class="k-edit-label"><label for="clientCompany">Company Name</label></div>
                <div data-container-for="clientCompany" class="k-edit-field">
                    <input id="clientCompany" type="text" class="k-input k-textbox" data-bind="value:clientCompany">
                </div>

                <div class="k-edit-label"><label for="companyProfile">Company Profile</label></div>
                <div data-container-for="companyProfile" class="k-edit-field">
                    <textarea id="companyProfile" type="text" class="k-input k-textbox"
                      data-bind="value:companyProfile"></textarea>
                </div>

                <div class="k-edit-label"><label for="contactFirstName">Primary Contact Name</label></div>
                <div data-container-for="contactFirstName" class="k-edit-field">
                    <input id="contactFirstName" type="text" class="k-input k-textbox" data-bind="value:contactFirstName">
                </div>
                <div data-container-for="contactLastName" class="k-edit-field">
                    <input id="contactLastName" type="text" class="k-input k-textbox" data-bind="value:contactLastName">
                </div>

                <div class="k-edit-label"><label for="contactPhone">Primary Contact Phone</label></div>
                <div data-container-for="contactPhone" class="k-edit-field">
                    <input id="contactPhone" type="text" class="k-input k-textbox" data-bind="value:contactPhone">
                </div>

                <div class="k-edit-label"><label for="contactAddress">Address</label></div>
                <div data-container-for="contactAddress" class="k-edit-field">
                    <textarea id="contactAddress" type="text" class="k-input k-textbox"
                      data-bind="value:contactAddress"></textarea>
                </div>

                <div class="k-edit-label"><label for="contactCity">City</label></div>
                <div data-container-for="contactCity" class="k-edit-field">
                    <input id="contactCity" type="text" class="k-input k-textbox" data-bind="value:contactCity">
                </div>

                <div class="k-edit-label"><label for="contactState">State</label></div>
                <div data-container-for="contactState" class="k-edit-field">
                    <input id="contactState" type="text" class="k-input k-textbox" data-bind="value:contactState">
                </div>

                <div class="k-edit-label"><label for="contactZip">Zip Code</label></div>
                <div data-container-for="contactZip" class="k-edit-field">
                    <input id="contactZip" type="text" class="k-input k-textbox" data-bind="value:contactZip">
                </div>

                <div class="k-edit-label"><label for="contactEmail">Primary Contact Email</label></div>
                <div data-container-for="contactEmail" class="k-edit-field">
                    <input id="contactEmail" type="text" class="k-input k-textbox" data-bind="value:contactEmail">
                </div>

                <div class="k-edit-label"><label for="keyPeople">Key People/Decision Makers</label></div>
                <div data-container-for="keyPeople" class="k-edit-field">
                    <textarea id="keyPeople" type="text" class="k-input k-textbox"
                      data-bind="value:keyPeople"></textarea>
                </div>
            </div>

        </div>
        <div class="tab-pane fade in active" id="serviceInfo" style="margin-top: 10px;">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">

                <div class="k-edit-label"><label for="industry">Industry</label></div>
                <div data-container-for="industry" class="k-edit-field">
                    <input id="industry" data-value-field="value" data-text-field="value"
                           data-bind="value:industry" data-role="dropdownlist"
                           />
                </div>
                <div class="k-edit-label"><label for="stageOfSale">Stage of Sale</label></div>
                <div data-container-for="stageOfSale" class="k-edit-field">
                    <input id="stageOfSale" data-value-field="value" data-text-field="value"
                           data-bind="value:stageOfSale" data-role="dropdownlist"
                          />
                </div>

                <div class="k-edit-label"><label for="totalClientOpportunity">Total Client Opportunity (TCO)</label></div>
                <div data-container-for="totalClientOpportunity" class="k-edit-field">
                    <input id="totalClientOpportunity" type="text" class="k-input k-textbox"
                           data-bind="value:totalClientOpportunity">
                </div>

                <div class="k-edit-label"><label for="actualClients">Actual Clients</label></div>
                <div data-container-for="actualClients" class="k-edit-field">
                    <input id="actualClients" type="text" class="k-input k-textbox"
                           data-bind="value:actualClients"
                           readonly>
                </div>

                <div class="k-edit-label"><label for="leadDate">Lead Date</label></div>
                <div data-container-for="leadDate" class="k-edit-field">
                    <input type="text" id="leadDate"
                           data-type="date" data-bind="value:leadDate"
                           data-role="datepicker" class="k-input" role="combobox">
                </div>

                <div class="k-edit-label"><label for="expectedCloseDate">Expected Close Date</label></div>
                <div data-container-for="expectedCloseDate" class="k-edit-field">
                    <input type="text" id="expectedCloseDate"
                           data-type="date" data-bind="value:expectedCloseDate"
                           data-role="datepicker" class="k-input" role="combobox">
                </div>

                <div class="k-edit-label"><label for="actualCloseDate">Actual Close Date</label></div>
                <div data-container-for="actualCloseDate" class="k-edit-field">
                    <input type="text" id="actualCloseDate"
                           data-type="date" data-bind="value:actualCloseDate"
                           data-role="datepicker" class="k-input" role="combobox">
                </div>

                <div class="k-edit-label"><label for="startDate">System Start Date</label></div>
                <div data-container-for="startDate" class="k-edit-field">
                    <input type="text" id="startDate"
                           data-type="date" data-bind="value:startDate"
                           data-role="datepicker" class="k-input" role="combobox">
                </div>

                <div class="k-edit-label"><label for="systemCRM_Name">CRM System Name</label></div>
                <div data-container-for="systemCRM_Name" class="k-edit-field">
                    <input id="systemCRM_Name" type="text" class="k-input k-textbox" data-bind="value:systemCRM_Name">
                </div>

                <div class="k-edit-label"><label for="systemCRM_URL">CRM System URL</label></div>
                <div data-container-for="systemCRM_URL" class="k-edit-field">
                    <input id="systemCRM_URL" type="text" class="k-input k-textbox" data-bind="value:systemCRM_URL">
                </div>

                <div class="k-edit-label"><label for="calendarSystemNotes">Company Calendar System Notes</label></div>
                <div data-container-for="calendarSystemNotes" class="k-edit-field">
                    <textarea id="calendarSystemNotes" type="text" class="k-input k-textbox"
                              data-bind="value:calendarSystemNotes"></textarea>
                </div>

                <div class="k-edit-label"><label for="systemEmail_Name">Email System Name</label></div>
                <div data-container-for="systemEmail_Name" class="k-edit-field">
                    <input id="systemEmail_Name" type="text" class="k-input k-textbox"
                           data-bind="value:systemEmail_Name">
                </div>

                <div class="k-edit-label"><label for="systemEmail_URL">Email System URL</label></div>
                <div data-container-for="systemEmail_URL" class="k-edit-field">
                    <input id="systemEmail_URL" type="text" class="k-input k-textbox"
                           data-bind="value:systemEmail_URL">
                </div>

                <div class="k-edit-label"><label for="emailSystemNotes">Company Email System Notes</label></div>
                <div data-container-for="emailSystemNotes" class="k-edit-field">
                    <textarea id="emailSystemNotes" type="text" class="k-input k-textbox"
                              data-bind="value:emailSystemNotes"></textarea>
                </div>
                
                <div class="k-edit-label"><label for="taskTracking">Task Tracking</label></div>
                <div data-container-for="taskTracking" class="k-edit-field">
                    <input id="taskTracking" data-value-field="value" data-text-field="text"
                           data-bind="value:taskTracking" data-role="dropdownlist"
                           />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">
                <div class="k-edit-label"><label for="product">Company Product</label></div>
                <div data-container-for="product" class="k-edit-field">
                    <select style="width: 12.4em;" id="product"></select>
                </div>

                <div class="k-edit-label"><label for="complianceGuidelines">Company Compliance Guidelines</label></div>
                <div data-container-for="complianceGuidelines" class="k-edit-field">
                    <textarea id="complianceGuidelines" type="text" class="k-input k-textbox"
                              data-bind="value:complianceGuidelines"></textarea>
                </div>

                <div class="k-edit-label"><label for="billingDetails">Billing Details</label></div>
                <div data-container-for="billingDetails" class="k-edit-field">
                    <textarea id="billingDetails" type="text" class="k-input k-textbox"
                              data-bind="value:billingDetails"></textarea>
                </div>

                <div class="k-edit-label"><label for="corporateContract">Corporate Contract</label></div>
                <div data-container-for="corporateContract" class="k-edit-field">
                    <input id="corporateContract" data-value-field="value" data-text-field="text"
                           data-bind="value:corporateContract" data-role="dropdownlist"
                    />
                </div>

                <div class="k-edit-label"><label for="esaExclusive">Exclusive to ESA?</label></div>
                <div data-container-for="esaExclusive" class="k-edit-field">
                    <input id="esaExclusive" data-value-field="value" data-text-field="text"
                           data-bind="value:esaExclusive" data-role="dropdownlist"
                    />
                </div>

                <div class="k-edit-label"><label for="primaryAccountMgrID">Primary Account Manager</label></div>
                <div data-container-for="primaryAccountMgrID" class="k-edit-field">
                    <input id="primaryAccountMgrID">
                </div>

                <div class="k-edit-label"><label for="cspType">CSP Type</label></div>
                <div data-container-for="cspType" class="k-edit-field">
                    <input id="cspType">
                </div>

                <div class="k-edit-label"><label for="ratesStructure">Rates Structure</label></div>
                <div data-container-for="ratesStructure" class="k-edit-field">
                    <input id="ratesStructure">
                </div>

                <div class="k-edit-label"><label for="dbAccountType">DB Account Type</label></div>
                <div data-container-for="dbAccountType" class="k-edit-field">
                    <input id="dbAccountType">
                </div>
            </div>
    </div>
    <div class="row m-sm">
        <div id="companyWarning" class="alert-danger " role="alert" style="display: block; float:inherit;"></div>
    </div>
    <div class="row">
        <div class="col-xs-9">
        </div>
        <div class="col-xs-2">
            <button id="SaveButton" type="button" class="btn btn-primary btn-block" >Update</button>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>
</div>