<div style=" width: 100%;">
    <div id="clientDataLoading"></div>
    <div id="clientData" style="
    width: 100%;
    border-bottom-width: 0px !important;
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    /*border-width: 1px !important;*/
    "></div>

    <script>
        Number.prototype.format = function (n, x) {
            var re = '(\\d)(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
            return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$1,');
        };
    </script>
</div>


