<div style="height: 100%; width: 100%;">
    <div class="panel panel-esa" style="height:100%;margin-bottom: 0px;overflow: hidden;">
        <div class="panel-body" style="height: calc(100% - 35px) !important; padding: 0px !important;">
            <div id="sub-header"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;">
                <div class="row esa-section" id="client-region" style="height: calc(100% - 35px);"></div>
            </div>
        </div>
    </div>
</div>
