<div style="height: 100%; width: 100%;">
    <div id="clientLoading"></div>
    <div id="client" style="height:100%; width: 100%;border-width: 1px !important;"></div>
    <!--<input id="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />-->
    <script>
        Number.prototype.format = function(n, x) {
            var re = '(\\d)(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
            return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$1,');
        };
    </script>
</div>


