<div style="height: 100%; width: 100%;">
    <div class="panel panel-esa" style="height:100%;margin-bottom: 0px;overflow: hidden;">
        <div class="panel-body" style="height: calc(100% - 35px) !important; padding: 0px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;">
                <section class="content-header" style="padding-bottom: 15px !important">
                    <h1>
                        Plans
                        <!--<small>Plan Data</small>-->
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home </a>
                            &nbsp;>&nbsp;
                            <a id="page">Plans</a>
                        </li>
                    </ol>
                </section>
                <div class="row" id="plan-region-1" style="height: calc(100% - 22px);"></div>
            </div>
        </div>
    </div>
</div>
