<div style="height: 100%; width: 100%;background:white;overflow: auto">
    <div id="loadingEmployeeInfo"></div>
    <ul class="nav nav-tabs" id="employeeTab" style="margin: 4px;">
        <li class="active"><a data-toggle="tab" href="#workInfo">Work Info</a></li>
        <li><a data-toggle="tab" href="#personalInfo">Personal Info</a></li>
        <li><a data-toggle="tab" href="#userInfo">User Info</a></li>
    </ul>
    <div class="row tab-content">
        <div class="tab-pane fade in active" id="workInfo" style="margin-top: 10px">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p-none">
                <div class="k-edit-label"><label for="employeeID">Id</label></div>
                <div class="k-edit-field">
                    <input id="employeeID" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:employeeID" readonly>
                </div>
                <div class="k-edit-label"><label for="employeeUserKey">User Key</label></div>
                <div class="k-edit-field">
                    <input id="employeeUserKey" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:userKey" readonly>
                </div>

                <div class="k-edit-label"><label for="eeTypeID">Employee Type</label></div>
                <div data-container-for="eeTypeID" class="k-edit-field">
                    <input id="eeTypeID"/>
                </div>

                <div class="k-edit-label"><label for="status">Status</label></div>
                <div data-container-for="status" class="k-edit-field">
                    <input id="status"/>
                </div>

                <div class="k-edit-label"><label for="timerStatus">Timer Status</label></div>
                <div data-container-for="timerStatus" class="k-edit-field">
                    <input id="timerStatus" type="number"/>
                </div>

                <div class="k-edit-label"><label for="timeZoneID">Time Zone</label></div>
                <div data-container-for="timeZoneID" class="k-edit-field">
                    <input id="timeZoneID"/>
                </div>

                <div class="k-edit-label"><label for="timerManual">Allow Manual Timer</label></div>
                <div data-container-for="timerManual" class="k-edit-field">
                    <input id="timerManual"/>
                </div>

                <div class="k-edit-label"><label for="isEligibleSupport">Eligible Support</label></div>
                <div data-container-for="isEligibleSupport" class="k-edit-field">
                    <input id="isEligibleSupport"/>
                </div>

                <div class="k-edit-label"><label for="isEligibleSupport">Is Account Manager</label></div>
                <div data-container-for="isTeamLeader" class="k-edit-field">
                    <input id="isTeamLeader"/>
                </div>

                <div class="k-edit-label"><label for="teamLeaderID">Account Manager</label></div>
                <div data-container-for="teamLeaderID" class="k-edit-field">
                    <input id="teamLeaderID"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p-none">


                <div class="k-edit-label"><label for="firstName">First Name</label></div>
                <div data-container-for="firstName" class="k-edit-field">
                    <input id="firstName" type="text" class="k-input k-textbox" data-bind="value:firstName">
                </div>

                <div class="k-edit-label"><label for="lastName">Last Name</label></div>
                <div data-container-for="lastName" class="k-edit-field">
                    <input id="lastName" type="text" class="k-input k-textbox" data-bind="value:lastName">
                </div>

                <div id="teamNameGroup">
                    <div class="k-edit-label"><label for="teamName">Team Name</label></div>
                    <div data-container-for="teamName" class="k-edit-field">
                        <input id="teamName" type="text" class="k-input k-textbox" data-bind="value:teamName">
                    </div>
                </div>

                <div class="k-edit-label"><label for="title">Title</label></div>
                <div data-container-for="title" class="k-edit-field">
                    <input id="title" type="text" class="k-input k-textbox" data-bind="value:title">
                </div>

                <div class="k-edit-label"><label for="esaLocalPhone">ESA Local Phone</label></div>
                <div data-container-for="esaLocalPhone" class="k-edit-field">
                    <input id="esaLocalPhoneField" type="text" class="k-input k-textbox" data-bind="value:esaLocalPhone">
                </div>

                <div class="k-edit-label"><label for="emailAddress">Email</label></div>
                <div data-container-for="emailAddress" class="k-edit-field">
                    <input id="emailAddressField" type="text" class="k-input k-textbox" data-bind="value:emailAddress">
                </div>

                <div class="k-edit-label"><label for="appPasscode">App Password</label></div>
                <div data-container-for="appPasscode" class="k-edit-field">
                    <input id="appPasscode" type="text" class="k-input k-textbox" data-bind="value:appPasscode" >
                </div>


                <div class="k-edit-label"><label for="hireDate">Hire Date</label></div>
                <div data-container-for="hireDate" class="k-edit-field">
                    <input type="text" id="hireDate"
                           data-type="date" data-bind="value:hireDate"
                           data-role="datepicker" class="k-input" role="combobox">
                </div>

                <div class="k-edit-label"><label for="termDate">Term Date</label></div>
                <div data-container-for="termDate" class="k-edit-field">
                    <input type="text" id="termDate" data-type="date" data-bind="value:termDate"
                           data-role="datepicker" class="k-input" role="combobox">
                </div>

                <div class="k-edit-label"><label for="voicemailPasscode">Voicemail Passcode</label></div>
                <div data-container-for="voicemailPasscode" class="k-edit-field">
                    <input id="voicemailPasscode" type="text" class="k-input k-textbox"
                           data-bind="value:voicemailPasscode">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p-none">
                <div class="k-edit-label"><label for="maxClientLoad">Max Client Load</label></div>
                <div class="k-edit-field">
                    <input id="maxClientLoad" type="number" class="k-textbox k-input" data-bind="value:maxClientLoad">
                </div>

                
                <div class="k-edit-label"><label for="currentClientLoad">Actual Client Load</label></div>
                <div class="k-edit-field">
                    <input id="currentClientLoad" type="number" class="k-textbox k-input"
                           data-bind="value:currentClientLoad" readonly>
                </div>

                <div class="k-edit-label"><label for="clientsLost">Clients Lost</label></div>
                <div class="k-edit-field">
                    <input id="clientsLost" type="number" class="k-textbox k-input" data-bind="value:clientsLost">
                </div>

                <!--Per conversation with Mitch/Carol on 5-1-17 this is hidden for now - NN-->
                <!--<div class="k-edit-label"><label for="salary">Salary</label></div>-->
                <!--<div class="k-edit-field">-->
                <!--<input id="salary" type="number" class="k-textbox k-input" data-bind="value:salary">-->
                <!--</div>-->

                <div class="k-edit-label"><label for="additionalInfo">Additional Information</label></div>
                <div data-container-for="additionalInfo" class="k-edit-field">
                    <textarea id="additionalInfo" type="text" class="k-input k-textbox"
                              data-bind="value:additionalInfo"></textarea>
                </div>

                <div class="k-edit-label"><label for="esaExtension">ESA Extension</label></div>
                <div data-container-for="esaExtension" class="k-edit-field">
                    <input id="esaExtension" type="text" class="k-input k-textbox" data-bind="value:esaExtension">
                </div>

                <div class="k-edit-label"><label for="esaTollFree">ESA Toll Free Phone</label></div>
                <div data-container-for="esaTollFree" class="k-edit-field">
                    <input id="esaTollFreeField" type="text" class="k-input k-textbox" data-bind="value:esaTollFree">
                </div>

                <div id="sideBarGroup">

                    <div class="k-edit-label"><label for="hidePlans">Hide Plan Info</label></div>
                    <div data-container-for="hidePlans" class="k-edit-field">
                        <input id="hidePlans">
                    </div>

                    <div class="k-edit-label"><label for="hideStatsTimecard">Hide Stats Time Card</label></div>
                    <div data-container-for="hideStatsTimecard" class="k-edit-field">
                        <input id="hideStatsTimecard">
                    </div>

                    <div class="k-edit-label"><label for="hideLevel1Employees">Hide Level 1 Employees</label></div>
                    <div data-container-for="hideLevel1Employees" class="k-edit-field">
                        <input id="hideLevel1Employees">
                    </div>

                    <div class="k-edit-label"><label for="hideClients">Hide Client Info</label></div>
                    <div data-container-for="hideClients" class="k-edit-field">
                        <input id="hideClients">
                    </div>

                    <div class="k-edit-label"><label for="hideCompanies">Hide Company Info</label></div>
                    <div data-container-for="hideCompanies" class="k-edit-field">
                        <input id="hideCompanies">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="userInfo" style="margin-top: 10px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none">

                <div class="k-edit-label"><label for="userKey">User Key</label></div>
                <div class="k-edit-field">
                    <input id="userKey" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:userKey" readonly>
                </div>

                <div class="k-edit-label"><label for="firstName">First Name</label></div>
                <div data-container-for="firstName" class="k-edit-field">
                    <input id="userFirstName" type="text" class="k-input k-textbox" data-bind="value:xxx_esaUsername" >
                </div>

                <div class="k-edit-label"><label for="lastName">Last Name</label></div>
                <div data-container-for="lastName" class="k-edit-field">
                    <input id="userLastName" type="text" class="k-input k-textbox" data-bind="value:xxx_esaUsername" >
                </div>

                <div class="k-edit-label"><label for="xxx_esaUsername">ESA Username</label></div>
                <div data-container-for="xxx_esaUsername" class="k-edit-field">
                    <input id="xxx_esaUsername" type="text" class="k-input k-textbox" data-bind="value:xxx_esaUsername">
                </div>

                <div class="k-edit-label"><label for="xxx_esaPassword">ESA Password</label></div>
                <div data-container-for="xxx_esaPassword" class="k-edit-field">
                    <input id="xxx_esaPassword" type="password" class="k-input k-textbox" data-bind="value:xxx_esaPassword" >
                </div>

                <div class="k-edit-label"><label for="userType">User Type</label></div>
                <div data-container-for="userType" class="k-edit-field">
                    <input id="userType" />
                </div>

                <div class="k-edit-label"><label for="userStatus">User Status</label></div>
                <div data-container-for="userStatus" class="k-edit-field">
                    <input id="userStatus" />
                </div>

                <div class="k-edit-label"><label for="lastLogin">Last Login</label></div>
                <div data-container-for="lastLogin" class="k-edit-field">
                    <input id="lastLogin" type="text" class="k-input k-textbox" data-bind="value:lastLogin" readonly>
                </div>

                <div class="k-edit-label"><label for="loginCount">Login Count</label></div>
                <div data-container-for="loginCount" class="k-edit-field">
                    <input id="loginCount" type="text" class="k-input k-textbox" data-bind="value:loginCount" readonly>
                </div>

                <div class="k-edit-label"><label for="lastPasswordChange">Password Changed</label></div>
                <div data-container-for="lastPasswordChange" class="k-edit-field">
                    <input id="lastPasswordChange" type="text" class="k-input k-textbox" data-bind="value:lastPasswordChange" readonly>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="personalInfo" style="margin-top: 10px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none">

                <div class="k-edit-label"><label for="alternateEmail">Alternate Email</label></div>
                <div data-container-for="alternateEmail" class="k-edit-field">
                    <input id="alternateEmail" type="text" class="k-input k-textbox" data-bind="value:alternateEmail">
                </div>

                <!--<div class="k-edit-label"><label for="nonEsaBusinessPhone">Non-ESA Business Phone</label></div>-->
                <!--<div data-container-for="nonEsaBusinessPhone" class="k-edit-field">-->
                <!--<input id="nonEsaBusinessPhone" type="text" class="k-input k-textbox"-->
                <!--data-bind="value:nonEsaBusinessPhone">-->
                <!--</div>-->

                <!--<div class="k-edit-label"><label for="workFax">Work Fax</label></div>-->
                <!--<div data-container-for="workFax" class="k-edit-field">-->
                <!--<input id="workFax" type="text" class="k-input k-textbox" data-bind="value:workFax">-->
                <!--</div>-->

                <div class="k-edit-label"><label for="mobilePhone">Mobile Phone</label></div>
                <div data-container-for="mobilePhone" class="k-edit-field">
                    <input id="mobilePhone" type="text" class="k-input k-textbox" data-bind="value:mobilePhone">
                </div>

                <div class="k-edit-label"><label for="homePhone">Home Phone</label></div>
                <div data-container-for="homePhone" class="k-edit-field">
                    <input id="homePhone" type="text" class="k-input k-textbox" data-bind="value:homePhone">
                </div>

                <div class="k-edit-label"><label for="emergencyPhone">Emergency Phone</label></div>
                <div data-container-for="emergencyPhone" class="k-edit-field">
                    <input id="emergencyPhone" type="text" class="k-input k-textbox" data-bind="value:emergencyPhone">
                </div>

                <div class="k-edit-label"><label for="homeStreet">Home Address</label></div>
                <div data-container-for="homeStreet" class="k-edit-field">
                    <input id="homeStreet" type="text" class="k-input k-textbox" data-bind="value:homeStreet">
                </div>

                <div class="k-edit-label"><label for="homeCity">Home City</label></div>
                <div data-container-for="homeCity" class="k-edit-field">
                    <input id="homeCity" type="text" class="k-input k-textbox" data-bind="value:homeCity">
                </div>
                <div class="k-edit-label"><label for="homeState">State</label></div>
                <div data-container-for="homeState" class="k-edit-field">
                    <input id="homeState" type="text" class="k-input k-textbox" data-bind="value:homeState">
                </div>
                <div class="k-edit-label"><label for="homeZip">Zip Code</label></div>
                <div data-container-for="homeZip" class="k-edit-field">
                    <input id="homeZip" type="text" class="k-input k-textbox" data-bind="value:homeZip">
                </div>

                <div class="k-edit-label"><label for="birthDate">Birthday</label></div>
                <div data-container-for="birthDate" class="k-edit-field">
                    <input type="text" id="birthDate"
                           data-type="date" data-bind="value:birthDate"
                           data-role="datepicker" class="k-input" role="combobox">
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
        </div>
        <div class="col-xs-2">
            <button id="UserButton" type="button" class="btn btn-primary btn-block">Edit User</button>
        </div>
        <div class="col-xs-2">
            <button id="SaveButton" type="button" class="btn btn-primary btn-block">Update</button>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>



