<div style="width: 100%;height: 100%;">
    <div class="panel panel-esa" style="margin-bottom: 0px;overflow: hidden;height:100%;">
        <div class="panel-body" style=" padding: 0px !important;height: calc(100% - 35px) !important;">
            <div id="sub-header"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100%;">
                <div class="row esa-views-section" id="emp-media-data-region" style="height: calc(100% - 16px);"></div>
                <!--style="height: calc(100% - 31px);"-->
            </div>
        </div>
    </div>
</div>

