<div class="scoreboard-row tr">
    <div class="td scoreboard-group" id="monthYear"></div>
    <div class="td scoreboard-group" id="added"></div>
    <div class="td scoreboard-group" id="lost"></div>
    <!-- <div class="td scoreboard-group" id="growth"></div> -->
</div>