<div id="modal-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="middle">
            <div class="inner-esa">
                <div class="box box-default" style="height:100%">
                    <div class="box-header with-border">
                        <h3 class="box-title">Scoreboard Details</h3>
                        <div class="box-tools pull-right">
                            <button id="CloseButton" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="height:calc(100% - 35px)">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div id="scoreboard-list"
                                 style="width: 100%;height:100%; position: relative; overflow: auto;">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div id="tile-1" class="col-sm-12 col-md-12 col-lg-12 p-xs">
                                <div class="small-box bg-yellow">
                                    <div id="loadingWidget1"></div>
                                    <div class="inner">
                                        <h3 id="widget1Value">0</h3>
                                        <p>Clients</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    <!--<a href="#" id="OpenDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                                </div>
                            </div>

                            <!-- <div id="tile-2" class="col-sm-12 col-md-12 col-lg-12 p-xs">
                                <div class="small-box bg-green">
                                    <div id="loadingWidget2"></div>
                                    <div class="inner">
                                        <h3><span id="widget2Value">0.0</span><sup style="font-size: 20px">%</sup></h3>
                                        <p id="widget2YearLabel">2016 Target</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div id="tile-3" class="col-sm-12 col-md-12 col-lg-12 p-xs">
                                <div class="small-box bg-blue">
                                    <div id="loadingWidget3"></div>
                                    <div class="inner">
                                        <h3><span id="widget3Value">0.0</span><sup style="font-size: 20px">%</sup></h3>
                                        <p>YTD</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-calendar"></i>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div id="tile-4" class="col-sm-12 col-md-12 col-lg-12 p-xs">
                                <div class="small-box bg-red">
                                    <div id="loadingWidget4"></div>
                                    <div class="inner">
                                        <h3><span id="widget4Value">0.0</span><sup style="font-size: 20px">%</sup>
                                        </h3>
                                        <p>Rem. Goal</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>