<!--<div style="height: 100%;"></div>-->
<div id="loadingAdmin"></div>
<div class="scoreboard-row tr">
    <div class="td scoreboard-group" id="monthYear"><b>Date</b></div>
    <div class="td scoreboard-group" id="added"><b>Added</b></div>
    <div class="td scoreboard-group" id="lost"><b>Lost</b></div>
    <!-- <div class="td scoreboard-group" id="growth"><b>Growth %</b></div> -->
</div>