<div class="esa-subheader-container" style="height:100%;width:100%;overflow: auto;">
    <div id="subHeaderLoading"></div>
    <section class="content-header" >
       
        <ol class="breadcrumb" style="left:10px !important">

            <li>
                <h3 id="majorTitle" style="margin-top:0px">Dashboard
                    <small id="minorTitle">Control panel</small>
                </h3>
            </li>

            <!-- Date range -->
            <li id="dateRangeTooltip" class="dropdown notifications-menu" style="cursor:pointer">
                <a id="dateRange" class="pull-right" >
                    <span id="dateRangeText" class="hidden-md hidden-sm hidden-xs "></span>
                    <i class="fa fa-calendar"></i>
                </a>
            </li>

            <!-- Payroll Date  -->
            <li id="payrollDateTooltip" class="dropdown notifications-menu" style="cursor:pointer;display: inline-flex;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!--style="width: 90px;"-->
                    <span id="payrollDateTitle" class=" hidden-sm hidden-xs"><b>Lock Date:&nbsp;</b></span>
                </a>
                <input id="payrollDate"/>
            </li>

            <!-- Client Reports -->
            <li id="clientReportFilterTooltip" class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="clientReportFilterTitle" class=" hidden-sm hidden-xs"><b>Client Report:&nbsp;</b></span>
                    <!--<i class="fa fa-tasks"></i>-->
                </a>
                <input id="clientReportList"/>
            </li>

            <!-- Views -->
            <li id="viewsFilterTooltip" class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="viewsFilterTitle" class=" hidden-sm hidden-xs"><b>View:&nbsp;</b></span>
                </a>
                <input id="viewsList"/>
            </li>

            <!-- Status -->
            <li id="statusFilterTooltip" class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="statusFilterTitle" class=" hidden-sm hidden-xs"><b>Status:&nbsp;</b></span>
                    <!--<i class="fa fa-check-square-o"></i>-->
                </a>
                <input id="statusFilterList"/>
            </li>

            <!-- Emp Status -->
            <li id="empStatusFilterTooltip" class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="empStatusFilterTitle" class=" hidden-sm hidden-xs"><b>Emp:&nbsp;</b></span>
                    <!--<i class="fa fa-check-square-o"></i>-->
                </a>
                <input id="empStatusFilterList"/>
            </li>


            <!-- Client Company List -->
            <li id="clientCompanyTooltip" class="dropdown notifications-menu" style="cursor:pointer">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="clientCompanyTitle" class=" hidden-sm hidden-xs"><b>Company:&nbsp;</b></span>
                </a>
                <input id="companyList" />
            </li>

            <!-- Client List -->
            <li id="clientTooltip" class="dropdown notifications-menu">
                <a id="clientDropdown" href="#" class="link-black" >
                    <span id="clientTitle" class=" hidden-sm hidden-xs"><a id="clientProfile"><b>Client:&nbsp;</b></a></span>
                </a>
                <input id="clientList" style="width:200px"/>
            </li>

            <!-- Team Leader List -->
            <li id="teamLeaderTooltip" class="dropdown notifications-menu" style="cursor:pointer">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="teamLeaderTitle" class=" hidden-sm hidden-xs"><b>Team:&nbsp;</b></span>
                </a>
                <input id="teamLeaderList"/>
            </li>

            <!-- Calc Stats -->
            <li id="calcStatsTooltip" class="dropdown notifications-menu" style="cursor:pointer">
                <a id="calcStats" title="Calculate Statistics"><i class='font-white-brdr fa fa-refresh' style='color: black'></i></a>
                <!--fa-cogs-->
            </li>

            <!-- Breadcrumbs -->
            <li><a href="#welcome"><i class="fa fa-home"></i> Home </a>
                &nbsp;>&nbsp;
                <a id="page">Dashboard</a>
            </li>

        </ol>

    </section>
    <section id="timer-section" style="margin-top: 10px;">
        <div id="timer-alert"></div>
    </section>
</div>