<div style="height:calc(100% - 40px);">
    <div id="loadingSummaryWidget"></div>
    <div class="row" id="summaryData">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="monthlyNum">0.0</span></h3>
                <p>Monthly Target</p>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="actualNum">0.0</span></h3>
                <p>Actual</p>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="remainingNum">0.0</span></h3>
                <p>Remaining</p>
            </div>
        </div>

        <div class="comp row">
            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="compNum">0.0</span></h3>
                <p>Comp</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="compActualNum">0.0</span></h3>
                <p>Actual + Comp</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="compRate">0.0</span></h3>
                <p id="compRateLabel">Comp</p>
            </div>
        </div>
        <div class="referral row">
            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="referralNum">0.0</span></h3>
                <p>Referral</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="referralActualNum">0.0</span></h3>
                <p>Actual + Referral</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
                <h3><span id="referralRate">0.0</span></h3>
                <p id="referralRateLabel">Comp</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
            <h3><span id="schedNum">0.0</span></h3>
            <p id="scheduledLabel">Scheduled/Hr</p>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
            <h3><span id="supportNum">0.0</span></h3>
            <p id="supportLabel">Support/Hr</p>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 p-xs" style="text-align: center;">
            <h3><span id="overallNum">0.0</span></h3>
            <p id="adminLabel">Overall</p>
        </div>
    </div>
</div>