<div>
    <div id="loadingSummaryStats"></div>
    <div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th><span id="monthAndYear">Month Year</span></th>
            <th>Time</th>
            <th>Tasks</th>
            <th>Meetings</th>
        </tr>
        <tr>
            <td>Target:</td>
            <td><span id="targetTime"></span></td>
            <td><span id="targetTasks"></span></td>
            <td><span id="targetMeetings"></span></td>
        </tr>
        <tr>
            <td>Scheduler:</td>
            <td><span id="schedulerTime"></span></td>
            <td><span id="schedulerTasks"></span></td>
            <td><span id="schedulerMeetings"></span></td>
        </tr>
        <tr>
            <td>Admin:</td>
            <td><span id="adminTime"></span></td>
            <td><span id="adminTasks">-</span></td>
            <td><span id="adminMeetings">-</span></td>
        </tr>
        <tr>
            <td>Actual:</td>
            <td><span id="actualTime"></span></td>
            <td><span id="actualTasks"></span></td>
            <td><span id="actualMeetings"></span></td>
        </tr>
        <tr>
            <td>Remaining:</td>
            <td><span id="remainingTime"></span></td>
            <td><span id="remainingTasks"></span></td>
            <td><span id="remainingMeetings"></span></td>
        </tr>
        <!--</tbody>-->
    </table>
    </div>
</div>