<div style="height:100%">
    <div id="loadingCalloutWidget"></div>
    <div id="calloutWidget" class="alert" style="margin-bottom:0px !important;">
        <button id="closeAlert" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs">
        <h4>
            <span id="alertHeader">Header</span>
            <!--<div>-->
                <!--style="margin-top:50px;"-->
            <div  id="alertInterruptTime" class="pull-right" style="font-size:14px;font-weight:normal"></div>
            <span id="alertStartTime" class="pull-right" style="font-size:14px;font-weight:normal;padding-right:4px"></span>
            <span id="alertDate" class="pull-right" style="font-size:14px;font-weight:normal"></span>
            <!--</div>-->
        </h4>
        </div>
        <div class="row">
        <h5>
            <span id="alertText">Alert Text</span>

            <span class="showTimer">
                <div id="alertTimer" class="pull-right" style="padding-right:4px;"></div>
            </span>
        </h5>
       </div>
    </div>
</div>
