<div style="height:100%;width:100%">
    <div class="box box-default" style="margin-bottom:10px;">
        <!--min-width:500px-->
        <div id="loadingTimerWidget"></div>
        <div class="box-header with-border">
            <h3 class="box-title">My Timer</h3>
            <!--<div class="box-tools pull-right">-->
                <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
            <!--</div>-->
        </div>
        <div class="box-body" >
            <!--style="height:220px"-->
            <div class="row">

                <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
                </div>
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
                    <table class="table">
                        <tr >
                            <td style="border-top: 1px solid white !important;">
                                <label style="font-weight:normal">Total Time Worked Today</label>
                            </td>
                            <td style="border-top: 1px solid white !important;">
                                <input id="timeWorked" style="width:90px" readonly>
                            </td>
                        </tr>
                        <tr >
                            <td style="border-top: 1px solid white !important;">
                                <label style="font-weight:normal">Service</label>
                            </td>
                            <td style="border-top: 1px solid white !important;">
                                <input class="timer-widget-input" id="service" >

                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid white !important;">
                                <label style="font-weight:normal">Client</label>
                            </td>
                            <td style="border-top: 1px solid white !important;">
                                <input class="timer-widget-input" id="timerClientList">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
                </div>
            </div>
            <div id="timerButtons" class="btn-group btn-group-justified" role="group" aria-label="...">
                <div id="startGroup" class="btn-group" role="group">
                    <button id="startButton" type="button" class="btn btn-success btn-lg">Start Timer</button>
                </div>
                <div id="interruptGroup" class="btn-group" role="group">
                    <button id="interruptButton" type="button" class="btn btn-warning btn-lg">Interrupt</button>
                </div>
                <div id="resumeGroup" class="btn-group" role="group">
                    <button id="resumeButton" type="button" class="btn btn-success btn-lg">Resume</button>
                </div>
                <div id="stopGroup" class="btn-group" role="group">
                    <button id="stopButton" type="button" class="btn btn-danger btn-lg">Stop</button>
                </div>
                <div id="manualGroup" class="btn-group" role="group">
                    <button id="manualButton" type="button" class="btn btn-default btn-lg">Manual Entry</button>
                </div>
            </div>
        </div>
    </div>
</div>