<div style="padding-right: 4px;padding-left: 4px;">
    <hr class="divider" style="margin-top: 0px;margin-bottom: 4px;">
    <div style="margin-top: 2px;margin-bottom: 2px;">
        <span id="date">Date</span>
        <span id="hours" class="pull-right">Time</span>
    </div>
    <hr id="total" class="divider" style="margin-top: 4px;margin-bottom: 0px;">
</div>
