<div style="height: 100%; width: 100%;background:white;overflow: auto">
    <div id="loadingTimeCardInfo" style="margin-bottom: 10px;"></div>
    <div id="timerGroup" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--<div class="row m-none">-->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">This Timer Group </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body" style="height:125px">
                <div id="mini-time-card-region" style="height: calc(100%);"></div>
            </div>
        </div>
        <!--</div>-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <!--<div class="row m-none">-->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Timer Record</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none">
                    <div class="k-edit-label"><label>Payroll Lock Date</label></div>
                    <div class="k-edit-field">
                        <input id="payrollLock" type="text" class="k-textbox k-state-disabled k-input"
                               readonly>
                    </div>
                    <div class="k-edit-label"><label for="timerID">Id</label></div>
                    <div class="k-edit-field">
                        <input id="intTimerID" type="text" class="k-textbox k-state-disabled k-input"
                               readonly>
                    </div>

                    <div class="k-edit-label"><label for="timerID">Employee</label></div>
                    <div class="k-edit-field">
                        <input id="employee" type="text" class="k-textbox k-state-disabled k-input"
                               readonly>
                    </div>

                    <div class="k-edit-label"><label for="serviceID">Service</label></div>
                    <div data-container-for="serviceID" class="k-edit-field">
                        <input id="service" style="width:300px"/>
                    </div>

                    <div class="k-edit-label"><label for="clientID">Client</label></div>
                    <div data-container-for="clientID" class="k-edit-field">
                        <input id="client" style="width:300px"/>
                    </div>

                    <div class="k-edit-label"><label for="mgrNote">Manager Note</label></div>
                    <div data-container-for="mgrNote" class="k-edit-field">
                            <textarea id="mgrNote" type="text" class="k-input k-textbox"
                                      data-bind="value:mgrNote"></textarea>
                    </div>

                    <div class="k-edit-label"><label for="timerNote">Timer Note</label></div>
                    <div data-container-for="timerNote" class="k-edit-field">
                            <textarea id="timerNote" type="text" class="k-input k-textbox"
                                      data-bind="value:timerNote"></textarea>
                    </div>

                    <div class="k-edit-label"><label for="editEmployeeID">Edit Employee ID</label></div>
                    <div data-container-for="editEmployeeID" class="k-edit-field">
                        <input id="editEmployeeID" type="text" class="k-textbox k-state-disabled k-input"
                               readonly>
                    </div>

                    <div class="k-edit-label"><label for="timerNote">Edit Timestamp</label></div>
                    <div data-container-for="editTimeStamp" class="k-edit-field">
                        <input type="text" id="editTimeStamp" data-type="date" data-bind="value:editTimeStamp"
                               class="k-input k-textbox" readonly>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none">

                    <div class="k-edit-label"><label for="workDate">Work Date</label></div>
                    <div data-container-for="workDate" class="k-edit-field">
                        <input type="text" id="workDate" data-type="date" data-bind="value:workDate"
                               data-role="datepicker" class="k-input" role="combobox">
                    </div>

                    <div class="k-edit-label"><label for="startTime">Start Time</label></div>
                    <div data-container-for="startTime" class="k-edit-field">
                        <input type="text" id="startTime" data-type="date" data-bind="value:startTime"
                               class="k-input k-textbox" readonly>
                        <!--role="combobox" data-role="datepicker" -->
                    </div>

                    <div class="k-edit-label"><label for="stopTime">Stop Time</label></div>
                    <div data-container-for="stopTime" class="k-edit-field">
                        <input type="text" id="stopTime" data-type="date" data-bind="value:stopTime"
                               class="k-input k-textbox" readonly>
                    </div>

                    <div class="k-edit-label"><label for="timeWorked">Time Worked</label></div>
                    <div data-container-for="timeWorked" class="k-edit-field">
                        <input id="timeWorked" type="number" class="k-input k-textbox" data-bind="value:timeWorked"/>
                    </div>

                    <div class="k-edit-label"><label for="tasks">Tasks</label></div>
                    <div data-container-for="tasks" class="k-edit-field">
                        <input id="tasks" type="number" class="k-input k-textbox" data-bind="value:tasks"/>
                    </div>

                    <div class="k-edit-label"><label for="meetings">Meetings</label></div>
                    <div data-container-for="meetings" class="k-edit-field">
                        <input id="meetings" type="number" class="k-input k-textbox" data-bind="value:meetings"/>
                    </div>

                    <div id="tasksCallsLabels" class="k-edit-label"><label for="tasksCalls">Tasks Calls</label></div>
                    <div data-container-for="tasksCalls" class="k-edit-field">
                        <input id="tasksCalls" type="number" class="k-input k-textbox" data-bind="value:tasksCalls"/>
                    </div>

                    <div id="tasksEmailsLabels" class="k-edit-label"><label for="tasksEmails">Tasks Emails</label></div>
                    <div data-container-for="tasksEmails" class="k-edit-field">
                        <input id="tasksEmails" type="number" class="k-input k-textbox" data-bind="value:tasksEmails"/>
                    </div>

                    <div id="tasksVoiceMailsLabels" class="k-edit-label"><label for="tasksVoiceMails">Tasks Voice Mails</label></div>
                    <div data-container-for="tasksVoiceMails" class="k-edit-field">
                        <input id="tasksVoiceMails" type="number" class="k-input k-textbox"
                               data-bind="value:tasksVoiceMails"/>
                    </div>

                </div>
            </div>
        </div>
        <!--</div>-->
    </div>

    <div id="executiveButtons" class="row" style="margin-bottom: 4px;">
        <div class="col-xs-5">
        </div>
        <div class="col-xs-2">
            <button id="SaveButton" type="button" class="btn btn-primary btn-block">Update</button>
        </div>
        <div class="col-xs-2">
            <button id="DeleteButton" type="button" class="btn btn-primary btn-block">Delete</button>
        </div>
        <div class="col-xs-2">
            <button id="CancelButton" type="button" class="btn btn-default btn-block">Cancel</button>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
    <div id="nonExecutiveButtons" class="row" style="margin-bottom: 4px;">
        <div class="col-xs-7">
        </div>
        <div class="col-xs-2">
            <button id="SaveButton" type="button" class="btn btn-primary btn-block">Update</button>
        </div>
        <div class="col-xs-2">
            <button id="CancelButton" type="button" class="btn btn-default btn-block">Cancel</button>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>



