<div id="modal-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="middle">
            <div class="inner-timer">
                <div class="box-tools pull-right">
                    <button id="CloseButton" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="app-title">Timer File Entry</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-none"
                         style="margin-top: 10px;min-width: 300px;">

                        <div class="summary-fields">
                            <div class="k-edit-label"><label>Service</label></div>
                            <div data-container-for="service" class="k-edit-field">
                                <input id="serviceOptions" style="width:275px">
                            </div>
                            <div class="k-edit-label"><label>Client</label></div>
                            <div data-container-for="client" class="k-edit-field">
                                <input id="timerClientListOptions" style="width:275px">
                            </div>
                            <div class="k-edit-label"><label for="workDate">Work Date</label></div>
                            <div class="k-edit-field">
                                <input id="workDate">
                            </div>

                            <div class="k-edit-label"><label for="tasks">Time Worked</label></div>
                            <div class="k-edit-field">
                                <input id="timeWorked"/>
                            </div>
                        </div>

                        <div class="support-scheduling-fields">
                            <div class="k-edit-label"><label for="tasks">Calls/Tasks</label></div>
                            <div class="k-edit-field">
                                <input id="tasks" class="k-textbox k-input" data-bind="value:tasks">
                            </div>

                            <div class="lincoln-fields">
                                <div class="k-edit-label"><label for="tasksCalls">Calls</label></div>
                                <div class="k-edit-field">
                                    <input id="tasksCalls" class="k-textbox k-input" data-bind="value:tasksCalls">
                                </div>

                                <div class="k-edit-label"><label for="tasksVoiceMails">Voice Mails</label></div>
                                <div class="k-edit-field">
                                    <input id="tasksVoiceMails" class="k-textbox k-input"
                                           data-bind="value:tasksVoiceMails">
                                </div>

                                <div class="k-edit-label"><label for="tasksEmails">Emails</label></div>
                                <div class="k-edit-field">
                                    <input id="tasksEmails" class="k-textbox k-input" data-bind="value:tasksEmails">
                                </div>
                            </div>

                            <div class="k-edit-label"><label for="meetings">Meetings</label></div>
                            <div class="k-edit-field">
                                <input id="meetings" class="k-textbox k-input" data-bind="value:meetings">
                            </div>
                        </div>

                        <div class="k-edit-label"><label for="timerNote">Notes</label></div>
                        <div data-container-for="timerNote" class="k-edit-field">
                            <textarea id="timerNote" type="text" class="k-input k-textbox"
                                      data-bind="value:timerNote"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row m-sm">
                    <div id="stopWarning" class="alert-danger " role="alert"
                         style="display: block; float:inherit;"></div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-3">
                        <button id="SaveButton" type="button" class="btn btn-default btn-block">
                            Submit
                        </button>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>