<div class="hero-unit">
    <h1>Marionette-Require-Boilerplate</h1>
    <p>Boilerplate Marionette application to help you get started with the best tools and best practices</p>

    <p class="muted">
        You are viewing this application on
        {{#if mobile}}
        {{!"mobile" key in i18n file}}
        <strong>{{$ mobile}}</strong>
        {{else}}
        {{!"desktop" key in i18n file}}
        <strong>{{$ desktop}}</strong>
        {{/if}}.
    </p>
    <p>This is part of the <a href="https:github.com/BoilerplateMVC/">BoilerplateMVC suite</a>.</p>
    <button id="buttonEvent"></button>
    <p>{{yeller "Marionette is great"}}</p>

</div>