<div>
    <a href="#news">
        <img id ="newsImage" src="./img/Industry News Default.png" alt="">
        <div class="esa-ad-header">
            <h2>Industry News</h2>
            <h3 id="title" >U.S. Unemployment Rate Fell to 11.1% in June</h3>
        </div>

    </a>
</div>
