<div>
    <a href="#esamedia">
    <!--<div class="box box-esa-ad2">-->
        <img id="image" src="./img/podcasts.jpg" alt="">
        <div class="esa-ad-header">
            <h2>ESA Media</h2>
            <h3 id="title" >Our Latest Employee Podcast</h3>
            <!--<p><a href=#esamedia>Our Latest Employee Podcast ></a>-->
            <!--<br><a href=#esamedia>Our Latest Public Podcast ></a></p>-->
        </div>
    <!--</div>-->
    </a>
</div>
