<div>
    <div class="box box-esa-ad2">
        <a href="#socialmedia">
            <img id="image" src="./img/news/esa-podcast-crisis-part04.jpg" alt="">
            <div class="esa-ad-header">
                <h2>Latest Social Media Post</h2>
                <h3 id="title">Title</h3>
            </div>
        </a>
    </div>
</div>
