<div>
    <img id="bioImage" class="img-circleOFF" src="./img/ESA Team Default.png" alt="..."></a>
    <h3 id="name" class="widget-user-username" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Meet FirstName LastName</h3>
    <h5 id="title" class="widget-user-desc" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Role</h5>
    <p id="text2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Fun Fact
        <a href="#" data-toggle="modal" data-target="#modal-default">Read More</a>
    </p>
    <div id="bio-modal"></div>
    <div id="welcomeBioViewLoading"></div>
</div>
