<div class="container-tile-layout" style="overflow: hidden;">
    <div id="sub-header"></div>
    <section id="dashboard-section" class="esa-section" style="height:calc(100% - 65px);overflow: auto;">
        <section class="content">

            <div id="company-alerts"></div>

            <div class="row">

                <div class="col-md-12">

                    <!-- Messages Slider -->
                    <!--<div id="welcome-company-messages"></div>-->

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner-wrap">

                            <ol id="company-indicators" class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                            </ol>

                            <div id="company-messages" class="carousel-inner"></div>

                            <a id="carouselLeftButton" class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <a id="carouselRightButton" class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div>

                    <!-- Center Ads -->
                    <div class="row">

                    <!--<div class="col-md-6 col-lg-3">-->
                        <!--<div id="welcome-social-media"></div>-->
                    <!--</div>-->

                    <div class="col-md-6 col-lg-4">
                        <!-- Industry News -->
                        <div class="box box-esa-ad2">
                            <div id="welcome-news"></div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <!-- ESA Media -->
                        <div class="box box-esa-ad2">
                            <div id="welcome-esa-media"></div>
                        </div>
                    </div>


                    <!--<div class="col-sm-6 col-lg-3">-->
                        <!--<div id="welcome-docs"></div>-->
                    <!--</div>-->

                    <!-- Leadership Ad -->
                    <div class="col-md-12 col-lg-4">
                        <div class="featured-leader-sm featured-leader-sm2">
                            <div id="welcome-bio"></div>
                        </div>
                    </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- Company Chat -->
                        <div id="welcome-chat"></div>
                    </div>
            </div>

        </section>
    </section>
</div>
