<div>
    <div class="box box-esa-ad2">
        <a href="#docs">
            <img src="./img/shaking-hands.jpg" alt="">

            <div class="esa-ad-header">
                <h2>HR Forms & Docs</h2>
            </div>

        </a>
    </div>

</div>

