
<div class="small-box bg-green" style="margin-bottom: 0px !important">
    <div id="loadingWidget2"></div>
    <div class="inner">
        <h3><span id="targetNum">0.0</span><sup style="font-size: 20px">%</sup></h3>
        <p id="yearLabel">2016 Target</p>
    </div>
    <div class="icon">
        <i class="ion ion-stats-bars"></i>
    </div>
    <!--<a href="#" id="OpenDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
</div>