<div class="small-box bg-yellow" style="margin-bottom: 0px !important">
    <div id="loadingWidget1"></div>
    <div class="inner">
        <h3 id="clientNum">0</h3>
        <p>Clients</p>
    </div>
    <div class="icon">
        <i class="ion ion-person-add"></i>
    </div>
    <!--<a href="#" id="OpenDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
</div>
