<div class="small-box bg-blue" style="margin-bottom: 0px !important">
    <div id="loadingWidget3"></div>
    <div class="inner">
        <h3><span id="ytdNum">0.0</span><sup style="font-size: 20px">%</sup></h3>
        <p>YTD</p>
    </div>
    <div class="icon">
        <i class="ion ion-calendar"></i>
    </div>
    <!--<a href="#" id="OpenDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
</div>