<div class="small-box bg-red" style="margin-bottom: 0px !important">
    <div id="loadingWidget4"></div>
    <div class="inner">
        <h3><span id="remGoalNum">0.0</span><sup style="font-size: 20px">%</sup></h3>
        <p>Rem. Goal</p>
    </div>
    <div class="icon">
        <i class="ion ion-pie-graph"></i>
    </div>
    <!--<a href="#" id="OpenDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
</div>
